.nav-mobile {
    position: absolute;
    top: 58px;
    left: 0;
    width: 100%;
    box-shadow: 0 30px 25px 0 rgba(0,0,0,.2);
    background-color: #ffffff;
    z-index: 1300;
    opacity: 0;
    visibility: hidden;
    transition: all .5s easeInOutCubic;
    overflow: auto;
    &.active {
        opacity: 1;
        visibility: visible;
    }
    &__inner {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    ul {
        padding: 20px 33px;
        margin: 0;
        li {
            a {
                display: block;
                padding-bottom: 20px;
                span {
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;
                    font-family: 'PF Din Text Cond Pro';
                    font-size: 16px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.38;
                    letter-spacing: 0.89px;
                    color: #002337;
                    text-align: left;
                    text-transform: uppercase;
                }
            }
            &.active {
                a {
                    span {
                        &:after {
                             position: absolute;
                             content: '';
                             bottom: -4px;
                             left: 0;
                             width: 100%;
                             height: 3px;
                             border-radius: 1.5px;
                             background-color: #e61841;
                        }
                    }
                }
            }
        }
    }
}