.franchise {
    &-statistics {
        margin-bottom: 82px;
        &__title {
            padding-left: 33px;
            margin-bottom: 30px;
        }
        ul {
            li {
                text-align: center;
                margin-bottom: 15px;
                span {
                    font-family: 'PF DinDisplay Pro';
                    font-size: 40px;
                    font-weight: 900;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: 2.5px;
                    color: #8cde98;
                    text-transform: uppercase;
                }
                p {
                    width: 240px;
                    margin: 0 auto;
                }
            }
        }
    }
    &-chart {
         background-color: #f8f6f0;
         position: relative;
         &__inner {
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;
              position: relative;
              padding: 20px 23px 0;
              top: -30px;
              width: 90%;
              margin: 0 auto;
              border-radius: 3px;
              box-shadow: 0 2px 5px 0 rgba(82, 65, 30, 0.19), 0 5px 18px 0 rgba(174, 148, 113, 0.22);
              background-color: #ffffff;
              z-index: 10;
              &:after {
                   position: absolute;
                   content: '';
                   width: 100%;
                   height: 18%;
                   border-radius: 0 3px 3px 0;
                   background-color: #f8f6f0;
                   right: 0;
                   bottom: 0;
                   z-index: 5;
              }
         }
         &__title {
               width: 100%;
              p {
                  font-family: 'PF DinDisplay Pro';
                  font-size: 18px;
                  font-weight: 900;
                  font-stretch: normal;
                  font-style: normal;
                  line-height: 1.28;
                  letter-spacing: 0.97px;
                  color: #002337;
                  margin-bottom: 25px;
                  text-transform: uppercase;
              }
         }
         &__chart {
              position: relative;
              width: 45%;
              z-index: 10;
              &>p {
                  font-family: 'PF DinDisplay Pro';
                  font-size: 15px;
                  font-weight: 900;
                  font-stretch: normal;
                  font-style: normal;
                  line-height: 1.53;
                  letter-spacing: 0.81px;
                  text-transform: uppercase;
                  color: #e61841;
              }
              &>div {
                   position: relative;
                   display: flex;
                   align-items: center;
                   height: 44px;
                   p {
                       position: absolute;
                       top: -25px;
                       font-family: 'PF Din Text Cond Pro';
                       font-size: 15px;
                       font-weight: normal;
                       font-stretch: normal;
                       font-style: normal;
                       line-height: 1.27;
                       letter-spacing: 0.47px;
                       color: #002337;
                       margin-top: 25px;
                       margin-bottom: 0;
                       &.data {
                            position: relative;
                            width: 0;
                            top: -25px;
                            left: -20px;
                       }
                   }
                   .volume {
                       height: 4px;
                       background-color: #e61841;
                       transform-origin: 0% 100%;
                   }
                   &:nth-child(2) {
                       .volume {width: 50%;}
                   }
                   &:nth-child(3) {
                       .volume {width: 55%;}
                   }
                   &:nth-child(4) {
                       .volume {width: 60%;}
                   }
                   &:nth-child(5) {
                       .volume {width: 65%;}
                   }
                   &:nth-child(6) {
                       .volume {width: 70%;}
                   }
                   &:nth-child(7) {
                       .volume {width: 75%;}
                   }
                   &:nth-child(8) {
                       .volume {width: 80%;}
                   }
                   &:nth-child(9) {
                       .volume {width: 85%;}
                   }
                   &:nth-child(10) {
                       .volume {
                           width: 90%;
                           border: 1px solid #e61841;
                           background-color: #ffffff;
                       }
                   }
                   &:nth-child(11) {
                       .volume {
                           width: 100%;
                           border: 1px solid #e61841;
                           background-color: #ffffff;
                       }
                   }
              }
              &.animate {
                   &>div {
                       p {
                            &.data {
                                 animation: go-step-up .5s linear;
                            }
                       }
                       .volume {
                            animation: stretchRight 0.2s linear;
                            transform-origin: 0% 0%;
                       }
                       &:nth-child(2) {
                            .volume {
                                 animation-delay: 0s;
                            }
                       }
                       &:nth-child(3) {
                            p.data {animation-delay: .2s;}
                                .volume {
                                    animation-delay: .2s;
                            }
                       }
                       &:nth-child(4) {
                           p.data {animation-delay: .4s;}
                           .volume {
                               animation-delay: .4s;
                           }
                       }
                       &:nth-child(5) {
                           p.data {animation-delay: .6s;}
                           .volume {
                               animation-delay: .6s;
                           }
                       }
                       &:nth-child(6) {
                           p.data {animation-delay: .8s;}
                           .volume {
                               animation-delay: .8s;
                           }
                       }
                       &:nth-child(7) {
                           p.data {animation-delay: 1s;}
                           .volume {
                               animation-delay: 1s;
                               div {
                                   animation-delay: 1s;
                               }
                           }
                       }
                       &:nth-child(8) {
                           p.data {animation-delay: 1.2s;}
                           .volume {
                               animation-delay: 1.2s;
                           }
                       }
                       &:nth-child(9) {
                           p.data {animation-delay: 1.4s;}
                           .volume {
                               animation-delay: 1.4s;
                           }
                       }
                       &:nth-child(10) {
                           p.data {animation-delay: 1.6s;}
                           .volume {
                               animation-delay: 1.6s;
                           }
                       }
                       &:nth-child(11) {
                           p.data {animation-delay: 1.8s;}
                           .volume {
                               border: 1px solid #e61841;
                               background-color: #ffffff;
                               animation-delay: 1.8s;
                           }
                       }
                   }
              }
              &.market-volume {
                   &>p {color: #002337;}
                   &>div {
                        .volume {
                            background-color: #002337;
                        }
                        &:nth-child(2) {
                            .volume {width: 0%;}
                        }
                        &:nth-child(3) {
                            .volume {width: 95%;}
                        }
                        &:nth-child(4) {
                            .volume {width: 100%;}
                        }
                        &:nth-child(5) {
                            .volume {width: 50%;}
                        }
                        &:nth-child(6) {
                            .volume {width: 25%;}
                        }
                        &:nth-child(7) {
                            .volume {width: 10%;}
                        }
                        &:nth-child(8) {
                            .volume {width: 22%;}
                        }
                        &:nth-child(9) {
                            .volume {width: 35%;}
                        }
                        &:nth-child(10) {
                            .volume {
                                width: 45%;
                                border: 1px solid #002337;
                                background-color: #ffffff;
                            }
                        }
                        &:nth-child(11) {
                            .volume {
                                width: 50%;
                                border: 1px solid #002337;
                            }
                        }
                   }
              }
         }
    }
    &-advantages {
        position: relative;
        margin-bottom: 330px;
        background-color: #f8f6f0;
        &__inner {
            padding: 10px 33px 40px;
        }
        &__title {
             font-family: 'PF DinDisplay Pro';
             font-size: 30px;
             font-weight: 900;
             font-stretch: normal;
             font-style: normal;
             line-height: normal;
             letter-spacing: 1.88px;
             text-align: center;
             color: #002337;
             text-transform: uppercase;
             margin-bottom: 31px;
        }
        &__block {
            p.text-title {margin-bottom: 28px;}
            ul {
                li {
                    display: flex;
                    margin-bottom: 21px;
                    align-items: center;
                    span {
                        margin-right: 17px;
                        img {
                            width: auto;
                            height: 55px;
                        }
                    }
                    p {font-size: 15px;}
                    &:nth-child(4) {
                        span {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
        &__form {
            position: absolute;
            width: 90%;
            left: 5%;
            border-radius: 3px;
            box-shadow: 0 2px 5px 0 rgba(82, 65, 30, 0.19), 0 5px 18px 0 rgba(174, 148, 113, 0.22);
            background-color: #ffffff;
            &-inner {padding: 24px 24px 0;}
            form {
                p {
                    font-family: 'PF Din Text Cond Pro';
                    font-size: 16px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.27;
                    letter-spacing: 0.47px;
                    color: #002337;
                    margin-bottom: 25px;
                }
                input {
                    width: 100%;
                }
                label {
                    margin-left: 0!important;
                }
                button {
                    width: 100%;
                    height: 65px;
                    margin-top: 15px;
                    background-color: #e61841;
                    color: #fff;
                    font-family: 'PF DinDisplay Pro';
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.38;
                    letter-spacing: 0.44px;
                }
            }
        }
    }
    &-calculator {
        position: relative;
        z-index: 5;
        &__inner {}
        &__packages {
             overflow: hidden;
             display: flex;
             justify-content: space-around;
             input {
                 opacity: 0;
                 appearance: none;
                 position: absolute;
                 &:checked + label {
                      box-shadow: inset 0 2px 3px 0 rgba(144, 0, 39, 0.65);
                      background-color: #e61841;
                      color: #fff;
                 }
             }
             label {
                 position: relative;
                 display: block;
                 padding: 6px 20px;
                 border-radius: 30.5px;
                 box-shadow: 0 2px 3px 0 rgba(82, 65, 30, 0.19), 0 0 2px 0 rgba(174, 148, 113, 0.22);
                 background-color: #ffffff;
                 cursor: pointer;
                 transition: all .5s linear;
                 font-family: 'PF DinDisplay Pro';
                 font-size: 12px;
                 font-weight: bold;
                 font-stretch: normal;
                 font-style: normal;
                 line-height: normal;
                 letter-spacing: normal;
                 text-align: center;
                 color: #e61841;
                 margin: 0 5px!important;
             }
        }
        &__title {
             font-family: 'PF DinDisplay Pro';
             font-size: 30px;
             font-weight: 900;
             font-stretch: normal;
             font-style: normal;
             line-height: normal;
             letter-spacing: 1.88px;
             text-align: center;
             color: #002337;
             margin-bottom: 15px;
        }
        &__desc {
             font-family: 'PF Din Text Cond Pro';
             font-size: 14px;
             font-weight: normal;
             font-stretch: normal;
             font-style: normal;
             line-height: 1.29;
             letter-spacing: 0.34px;
             text-align: center;
             color: #7b919e;
             margin-bottom: 15px;
             p {
                  display: inline-block;
                  padding-right: 25px;
                  position: relative;
                  &:after {
                       position: absolute;
                       content: '';
                       width: 11px;
                       height: 11px;
                       right: 3px;
                       top: 10px;
                       border-right: 1px solid #002337;
                       border-bottom: 1px solid #002337;
                       transform: rotate(-135deg);
                       transition: all .3s linear;
                  }
             }
             &.hide {
                  p {
                       &:after {
                            top: 2px;
                            transform: rotate(45deg);
                            transition: all .3s linear;
                       }
                  }

             }
        }
        &__calculator {}
        &__initial-data {
            padding: 0 33px;
            margin-bottom: 25px;
            div {
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                border-bottom: solid 1px rgba(0, 35, 55, .1);
                padding-bottom: 10px;
                margin-bottom: 20px;
                &:last-child {border-bottom: none;}
                &.star {
                    &:before {
                         position: absolute;
                         content: '';
                         width: 15px;
                         height: 15px;
                         left: -20px;
                         top: -3px;
                         background: url("/images/desktop/icons/star.svg") 50% 50%/contain no-repeat;
                    }
                }
                p {
                    font-family: 'PF DinDisplay Pro';
                    font-size: 12px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: 0.65px;
                    color: #002337;
                    margin-bottom: 0;
                    margin-right: 20px;
                    text-transform: uppercase;
                }
                span {
                    font-family: 'PF Din Text Cond Pro';
                    font-size: 14px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: 0.34px;
                    color: #002337;
                    text-transform: none;
                    text-align: right;
                }
            }
        }
        &__variable-data {
             background-color: #f8f6f0;
             padding: 25px 33px 10px;
            p {
                width: 100%;
                font-family: 'PF DinDisplay Pro';
                font-size: 18px;
                font-weight: 900;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.28;
                letter-spacing: 0.97px;
                text-align: center;
                color: #002337;
            }
            .form-group {
                label {
                    margin-left: 0;
                    b {
                        font-weight: normal;
                    }
                }
                &.big-label {
                    text-align: right;
                    padding-top: 0;
                    label {
                        width: 45%;
                        text-align: left;
                    }
                    input {
                        width: 50%;
                    }
                    span {
                        text-align: left;
                        width: 45%;
                    }
                }
                span {
                    display: block;
                    font-family: 'PF Din Text Cond Pro';
                    font-size: 12px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.27;
                    letter-spacing: 0.47px;
                    color: #002337;
                }
                &.form__amount {
                     width: 45%;
                     &-group {
                          display: flex;
                          justify-content: space-between;
                          padding: 0;
                          margin: 0;
                     }
                    .button_minus,
                    .button_plus {
                        width: 38px;
                        height: 39px;
                        box-shadow: none;
                    }
                    input {
                        width: 38px;
                        padding: 10px 5px;
                        border-radius: 0;
                        border-right: 0;
                        border-left: 0;
                        text-align: center;
                    }
                }
                &.form__select {
                    margin-bottom: 20px;
                    select {}
                }
                &.range {
                    display: flex;
                    align-items: flex-start;
                    margin-bottom: 20px;
                    input[type=text] {
                        width: 70px;
                        margin-right: 10px;
                    }
                }
                input[type=range] {
                    -webkit-appearance: none;
                    width: 100%;
                    margin: 13.5px 0;
                    border: none;
                    background-color: #fff;
                    box-shadow: none;
                    padding: 0;
                }
                input[type=range]:focus {
                    outline: none;
                }
                input[type=range]::-webkit-slider-runnable-track {
                    width: 100%;
                    height: 1px;
                    cursor: pointer;
                    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
                    background: #002337;
                    border-radius: 1px;
                    border: 0px solid #010101;
                }
                input[type=range]::-webkit-slider-thumb {
                    box-shadow: 0 2px 5px 0 rgba(82, 65, 30, 0.19), 0 5px 18px 0 rgba(174, 148, 113, 0.22);
                    border: 2px solid #ffffff;
                    height: 28px;
                    width: 28px;
                    border-radius: 50px;
                    background: #e61841;
                    cursor: pointer;
                    -webkit-appearance: none;
                    margin-top: -13.5px;
                }
                input[type=range]:focus::-webkit-slider-runnable-track {
                    background: #003656;
                }
                input[type=range]::-moz-range-track {
                    width: 100%;
                    height: 1px;
                    cursor: pointer;
                    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
                    background: #002337;
                    border-radius: 1px;
                    border: 0px solid #010101;
                }
                input[type=range]::-moz-range-thumb {
                    box-shadow: 1px 1px 5px #000000, 0px 0px 1px #0d0d0d;
                    border: 2px solid #ffffff;
                    height: 28px;
                    width: 28px;
                    border-radius: 50px;
                    background: #e61841;
                    cursor: pointer;
                }
                input[type=range]::-ms-track {
                    width: 100%;
                    height: 1px;
                    cursor: pointer;
                    background: transparent;
                    border-color: transparent;
                    color: transparent;
                }
                input[type=range]::-ms-fill-lower {
                    background: #001018;
                    border: 0px solid #010101;
                    border-radius: 2px;
                    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
                }
                input[type=range]::-ms-fill-upper {
                    background: #002337;
                    border: 0px solid #010101;
                    border-radius: 2px;
                    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
                }
                input[type=range]::-ms-thumb {
                    box-shadow: 1px 1px 5px #000000, 0px 0px 1px #0d0d0d;
                    border: 2px solid #ffffff;
                    height: 28px;
                    width: 28px;
                    border-radius: 50px;
                    background: #e61841;
                    cursor: pointer;
                    height: 1px;
                }
                input[type=range]:focus::-ms-fill-lower {
                    background: #002337;
                }
                input[type=range]:focus::-ms-fill-upper {
                    background: #003656;
                }
            }
        }
        &__forecast {
             border-radius: 3px;
             padding: 20px 33px;
             background-color: #f8f6f0;
             div {
                 display: flex;
                 justify-content: space-between;
                 align-items: flex-start;
                 margin-bottom: 10px;
                 padding-bottom: 10px;
                 border-bottom: solid 2px #e3ddcd;
             }
             p {
                 font-family: 'PF Din Text Cond Pro';
                 font-size: 14px;
                 font-weight: normal;
                 font-stretch: normal;
                 font-style: normal;
                 line-height: 1.29;
                 letter-spacing: 0.34px;
                 color: #002337;
                 margin-bottom: 0;
                 margin-right: 20px;
                 b {
                     font-weight: normal;
                 }
             }
             span {
                 display: block;
                 font-family: 'PF DinDisplay Pro';
                 font-size: 16px;
                 font-weight: 900;
                 font-stretch: normal;
                 font-style: normal;
                 line-height: 1.18;
                 letter-spacing: 0.92px;
                 color: #e61841;
                 text-align: right;
                 text-transform: uppercase;
                 white-space: nowrap;
             }
        }
        &__order {
             position: relative;
             background-color: #f8f6f0;
             padding: 20px 33px 32px;
            p {
                font-family: 'PF Din Text Cond Pro';
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.27;
                letter-spacing: 0.47px;
                color: #002337;
                text-align: center;
            }
            a.button {
                position: absolute;
                width: 253px;
                padding: 25px;
                bottom: -35px;
                left: calc(50% - 126.5px);
                display: block;
                text-align: center;
            }
            &:before {
                position: absolute;
                content: '';
                top: -10px;
                left: calc(50% - 10px);
                width: 20px;
                height: 20px;
                background: url("/images/mobile/icons/info.svg") 50% 50%/contain no-repeat;
            }
        }
    }
    &-concept {
        position: relative;
        overflow: hidden;
        z-index: 1;
        padding-bottom: 100px;
        margin: 0 auto;
        &:before {
             position: absolute;
             content: '';
             background-image: url("images/desktop/icons/clouds-beige.svg");
             width: 512px;
             height: 50.5px;
             background-repeat: no-repeat;
             background-size: contain;
             bottom: -2px;
        }
        &__desc {
            margin-bottom: 25px;
            padding: 73px 33px 0;
            p {
                font-family: 'PF DinDisplay Pro';
                font-size: 30px;
                font-weight: 900;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 1.88px;
                text-align: center;
                color: #002337;
            }
            span {font-size: 14px;}
        }
        &__slider {
             position: relative;
             width: 100%;
             height: 212px;
            .swiper-container {
                width: 100%;
                height: 100%;
            }
             .swiper-slide {
                 img {
                     width: 100%;
                     height: auto;
                 }
             }
            .swiper-button-prev {
                background-image: url("/images/desktop/icons/arrow.svg");
                transform: rotate(180deg);
            }
            .swiper-button-next {
                background-image: url("/images/desktop/icons/arrow.svg");
            }
            .swiper-button-prev,
            .swiper-button-next {
                width: 16px;
                height: 16px;
                background-size: contain;
                top: 114%;
            }
            .swiper-pagination-fraction {
                width: 23%;
                left: calc(50% - 11.5%);
                bottom: -26px;
                font-family: 'PF Din Text Cond Pro';
                font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                letter-spacing: 0.7px;
                color: #002337;
            }
        }
    }
    &-steps {
         border-radius: 3px;
         background-image: radial-gradient(circle at 86% 78%, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0) 53%), linear-gradient(to bottom, #f8f6f0, #f8f6f0);
         &__inner {
              padding: 0;
         }
         &__title {
              font-family: 'PF DinDisplay Pro';
              font-size: 30px;
              font-weight: 900;
              font-stretch: normal;
              font-style: normal;
              line-height: normal;
              letter-spacing: 1.88px;
              text-align: center;
              color: #002337;
              margin-bottom: 10px;
         }
         &__steps {
              display: flex;
              padding: 40px 33px 0;
              overflow: scroll;
         }
         &__step {
              position: relative;
              min-width: 110px;
              margin-bottom: 40px;
              &:nth-child(10) {min-width: 150px;}
              &:before {
                  position: absolute;
                  content: '';
                  width: 100%;
                  height: 2px;
                  left: 0;
                  top: 34px;
                  background-color: rgba(232,77,90,1);
                  z-index: 1;
              }
              span {
                  position: relative;
                  display: block;
                  width: 64px;
                  height: 64px;
                  box-shadow: inset 0px 0px 0px 2px rgba(232,77,90,1),
                  0px 0px 0px 2px rgba(255,255,255,1),
                  0 2px 5px 0 rgba(82, 65, 30, 0.19), 0 5px 18px 0 rgba(174, 148, 113, 0.22);
                  background-color: #ffffff;
                  border-radius: 50%;
                  margin: 0 0 10px;
                  font-family: 'PF DinDisplay Pro';
                  font-size: 40px;
                  font-weight: 500;
                  font-stretch: normal;
                  font-style: normal;
                  line-height: 64px;
                  letter-spacing: 2.5px;
                  color: #002337;
                  text-align: center;
                  z-index: 5;
              }
              p {
                  font-family: 'PF Din Text Cond Pro';
                  font-size: 16px;
                  font-weight: normal;
                  font-stretch: normal;
                  font-style: normal;
                  line-height: 1.27;
                  letter-spacing: 0.47px;
                  color: #002337;
              }
         }
         &__finish {
              position: relative;
              z-index: 5;
              p {
                  position: relative;
                  z-index: 5;
                  width: 232px;
                  height: 68px;
                  border-radius: 34px;
                  box-shadow: 0 2px 5px 0 rgba(82, 65, 30, 0.19), 0 5px 18px 0 rgba(174, 148, 113, 0.22);
                  background-color: #ffffff;
                  font-family: 'PF DinDisplay Pro';
                  font-size: 30px;
                  font-weight: 900;
                  font-stretch: normal;
                  font-style: normal;
                  line-height: 68px;
                  letter-spacing: 1.88px;
                  color: #002337;
                  text-align: center;
              }
              &:before {
                   position: absolute;
                   content: '';
                   background: url("/images/desktop/pic/finish@2x.png") 0 0 no-repeat;
                   right: 0;
                   top: -30px;
                   width: 288px;
                   height: 210px;
                   background-size: cover;
                   z-index: 1;
              }
         }
         &.animate {
              .franchise-steps__step {
                  &:before {
                       animation: stretchRight 0.5s linear;
                       transform-origin: 0% 0%;
                  }
                  span {
                      animation: go-step 1s ease-in-out;
                  }
                  &:nth-child(2) {
                      &:before {animation-delay: 0.5s;}
                      span {animation-delay: 0.5s;}
                  }
                  &:nth-child(3) {
                      &:before {animation-delay: 1s;}
                      span {animation-delay: 1s;}
                  }
                  &:nth-child(4) {
                      &:before {animation-delay: 1.5s;}
                      span {animation-delay: 1.5s;}
                  }
                  &:nth-child(5) {
                      &:before {animation-delay: 2s;}
                      span {animation-delay: 2s;}
                  }
                  &:nth-child(6) {
                      &:before {animation-delay: 2.5s;}
                      span {animation-delay: 2.5s;}
                  }
                  &:nth-child(7) {
                      &:before {animation-delay: 3s;}
                      span {animation-delay: 3s;}
                  }
                  &:nth-child(8) {
                      &:before {animation-delay: 3.5s;}
                      span {animation-delay: 3.5s;}
                  }
                  &:nth-child(9) {
                      &:before {animation-delay: 4s;}
                      span {animation-delay: 4s;}
                  }
                  &:nth-child(10) {
                      &:before {animation-delay: 4.5s;}
                      span {animation-delay: 4.5s;}
                  }
              }
              .franchise-steps__finish {
                  p {animation: finish 2s 5s ease-in-out;}
              }
         }
    }
    &-founder {
        text-align: center;
        padding: 40px 33px 55px;
        &__title {
             font-family: 'PF DinDisplay Pro';
             font-size: 30px;
             font-weight: 900;
             font-stretch: normal;
             font-style: normal;
             line-height: normal;
             letter-spacing: 1.88px;
             text-align: center;
             color: #002337;
             margin-bottom: 25px;
             text-transform: uppercase;
        }
        &__image {
            width: 160px;
            height: 160px;
            margin: 0 auto 20px;
            img {
                width: 100%;
            }
        }
        &__name {
             font-family: 'PF DinDisplay Pro';
             font-size: 18px;
             font-weight: 900;
             font-stretch: normal;
             font-style: normal;
             line-height: 1.17;
             letter-spacing: 0.97px;
             text-align: center;
             color: #002337;
             text-transform: uppercase;
             margin-bottom: 5px;
        }
        &__position {
             font-family: 'PF Din Text Cond Pro';
             font-size: 15px;
             font-weight: normal;
             font-stretch: normal;
             font-style: normal;
             line-height: 1.27;
             letter-spacing: 0.47px;
             color: #002337;
             margin-bottom: 25px;
        }
        &__text {
             font-size: 15px;
             font-weight: normal;
             font-stretch: normal;
             font-style: normal;
             line-height: 1.27;
             letter-spacing: 0.47px;
             color: #002337;
             text-align: left;
        }
    }
    &-contacts {
        margin-bottom: 60px;
        background-color: #f8f6f0;
        &__inner {
            padding: 32px 32px 55px;
        }
        &__title {margin-bottom: 25px;}
        &__contact {
             font-family: 'PF DinDisplay Pro';
             font-size: 14px;
             font-weight: 300;
             font-stretch: normal;
             font-style: normal;
             line-height: 1.36;
             letter-spacing: normal;
             color: #002337;
             p {margin: 0;}
             a {
                 display: block;
                 font-size: 14px;
             }
            .email {margin-top: 15px;}
            .phone {
                text-decoration: none;
                color: #002337;
            }
        }
        &__button {
            display: block;
            position: absolute;
            padding: 25px;
            bottom: -35px;
            left: calc(50% - 122px);
        }
    }
}

@keyframes go-step {
    0%   { transform: scale(0); box-shadow: none;}
    33%  { transform: scale(1.3)}
    66%  { transform: scale(.8);}
    100%  { transform: scale(1);
        box-shadow: inset 0px 0px 0px 2px rgba(232,77,90,1),
        0px 0px 0px 2px rgba(255,255,255,1),
        0 2px 5px 0 rgba(82, 65, 30, 0.19), 0 5px 18px 0 rgba(174, 148, 113, 0.22);
        }
}

@keyframes finish {
    0%   { transform: scale(0); box-shadow: none;}
    33%  { transform: scale(1.3)}
    66%  { transform: scale(.8);
        box-shadow: inset 0px 0px 0px 2px rgba(232,77,90,1),
        0px 0px 0px 2px rgba(255,255,255,1),
        0 2px 5px 0 rgba(82, 65, 30, 0.19), 0 5px 18px 0 rgba(174, 148, 113, 0.22);}
    100%  { transform: scale(1);box-shadow: none;
    }
}

@keyframes go-step-line {
    0%   { transform: translateX(0%);}
    100%  { transform: translateX(100%);}
}

@keyframes go-step-up {
    0%   { transform: translateX(-50px);}
    100%  { transform: translateX(0);}
}

@keyframes stretchRight {
    0% {
        transform: scaleX(0.3);
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes stretchUp {
    0% {
        transform: scaleY(0);
        opacity: 0;
    }
    100% {
        transform: scaleY(1);
        opacity: 1;
    }
}