@@include('templates/desktop/include/header-ekzarta.html')

<section class="event-page">
    <div class="event-page__inner">
        <div class="event-page__header">
            <h1 class="text-title text-title_big">Мастер-класс «Реабилитация при заболеваниях
                суставов нижних конечностей» в Нижнем Новгороде</h1>
            <p>08 октября 2018, 14:59</p>
        </div>
        <div class="event-page__body text-content">
            <p>21 февраля 2017 года на базе центра медицинской реабилитации «Экзарта» состоится бесплатный мастер-класс «Реабилитация при заболеваниях суставов нижних конечностей методами мануальной терапии и ЛФК. Реабилитация после операций. Европейские подходы».</p>
            <p>Мероприятие адресовано специалистам в области медицинской реабилитации, неврологии и ортопедии, лечебной физкультуры и мануальной терапии.</p>
            <p>Специальный гость и ведущий - Мирослав Кокош (Польша). Доктор физиотерапии. Преподаватель кафедры специальных методов физиотерапии в Академии физического воспитания (г. Катовице). Стаж более 20 лет.</p>
            <p>Вопросы постоперационной реабилитации - Ежов Михаил Юрьевич. Профессор кафедры хирургии ФПКВ НижГМА, доктор медицинских наук. Автор диссертации – «Хирургическое лечение дегенеративно-дистрофических заболеваний суставов стопы и голеностопного сустава». Стаж 15 лет.</p>
            <p>Начало мероприятия - 18.00. Предварительная запись по телефону: 8 (831) 429-01-15</p>
            <p>или электронной почте: seller@inamr.ru</p>
            <p>Количество мест ограничено.</p>
        </div>
    </div>
</section>

@@include('templates/desktop/include/footer.html')