@@include('templates/desktop/include/header-ekzarta.html')

<section class="landing-main">
    <div class="landing-main__desription">
        <p>Кинезитерапевтическая установка «Экзарта» служит для выполнения специальных реабилитационных упражнений. Если клинические проявления  (например, боль) резко выражены, то сначала назначается несколько этапов терапевтической последовательности.</p>
        <a href="" class="button-default">Подробнее</a>
    </div>
    <img src="" alt="">
</section>

@@include('templates/desktop/include/footer.html')