@@include('templates/desktop/include/header-ekzarta.html')

<section class="specialist">
    <div class="specialist__inner">
        <div class="specialist__data">
            <div class="specialist__data_inner">
                <div class="specialist__name">Арьков Владимир Владимирович</div>
                <div class="specialist__position">Врач-реабилитолог</div>
                <div class="specialist__site"><span>Сайт</span> <a href="">www.арьков.рф</a></div>
                <div class="specialist__phone"><span>Тел.:</span> +7-916-409-49-94 </div>
            </div>
            <div class="specialist__photo card__image">
                <img src="/images/desktop/specialists/1.jpg" alt="">
            </div>
        </div>
        <div class="specialist__info">
            <p>Реабилитолог спортивной травмы, доктор медицинских наук, профессор РАН, врач ЛФК и
                спортивной медицины, заведующий отделением физиотерапии и лечебной физкультуры ГАУЗ
                МНПЦ МРВСМ.</p>

            <p>Всегда готов помочь всем, кто ведет активный образ жизни и получил травму.
                С 2003 года специализируется на восстановительном лечении пациентов после операций на суставах и безоперационных методиках лечения травм опорно-двигательного аппарата.
                Полностью вернул к спорту без ограничений более 3000 пациентов после операций на коленном
                суставе и около 2000 пациентов после операций на плечевом суставе.</p>

            </div>
    </div>
</section>

@@include('templates/desktop/include/footer.html')