@@include('templates/desktop/include/header-ekzarta.html')

<section class="product">
    <div class="product__inner">
        <h1>Тренажер Экзарта Мини</h1>
        <div class="product__card">
            <div class="product__photos">
                <div class="swiper-container product__photo">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" style="background-image:url(/images/desktop/pic/ekzarta-mini-basic.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/images/desktop/pic/ekzartamini63.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/images/desktop/pic/ekzartamini_sport_01.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/images/desktop/pic/ekzarta-mini-basic.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/images/desktop/pic/ekzartamini63.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/images/desktop/pic/ekzartamini_sport_01.jpg)"></div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next swiper-button-black"></div>
                    <div class="swiper-button-prev swiper-button-black"></div>
                </div>
                <div class="swiper-container product__thumbs">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" style="background-image:url(/images/desktop/pic/ekzarta-mini-basic.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/images/desktop/pic/ekzartamini63.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/images/desktop/pic/ekzartamini_sport_01.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/images/desktop/pic/ekzarta-mini-basic.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/images/desktop/pic/ekzartamini63.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/images/desktop/pic/ekzartamini_sport_01.jpg)"></div>
                    </div>
                </div>
            </div>
            <div class="product__order">
                <p class="product__cost text-title text-title_big">11295 Руб.</p>
                <p class="product__sale">Участникам курсов МАМР скидка 30%</p>
                <div class="product__amount">
                    <button class="button_minus" type="button" name="button"></button>
                    <input type="text" name="name" value="1" disabled>
                    <button class="button_plus" type="button" name="button"></button>
                </div>
                <button class="product__button button button_red">В корзину</button>
            </div>
        </div>
        <div class="product__info">
            <h2>Заголовок 2-го уровня</h2>
            <h3>Заголовок 3-го уровня</h3>
            <h4>Заголовок 4-го уровня</h4>
            <h5>Заголовок 5-го уровня</h5>
            <h6>Заголовок 6-го уровня</h6>

            <p>Абзац текста. Для этих целей предназначен тренажер Экзарта Мини для реабилитации. С помощью тренажера удобно выполнять пассивные и активные движения в суставах верхних и нижних конечностей — в коленных, тазобедренных, плечевых, локтевых суставах, а также в шейном, грудном и поясничном отделах позвоночника.</p>
            <p>Еще один абзац с <a href="">ссылкой внутри текста</a></p>

            <h4>Ненумерованный список</h4>
            <ul>
                <li>позволяет тренировать активные и пассивные движения, используя дополнительные точки подвешивания (например, подвесив ногу за стопу и под коленом, чтобы уменьшить нагрузку на коленный сустав)</li>
                <li>выполнить мягкую дозированную тракцию (вытяжение) поясничного или шейного отдела позвоночника</li>
                <li>осуществить релаксацию, мобилизацию и аутомобилизацию различных отделов позвоночника</li>
                <li>эластичные жгуты используются как нагрузка для тренировки активных движений или для облегчения активных и пассивных движений в случае слабости мышц (боль, травма, парез, паралич)</li>
            </ul>

            <h4>Разделитель</h4>
            <hr>

            <h4>Нумерованный список</h4>
            <ol>
                <li>Рычаг силы </li>
                <li>Точки подвешивания</li>
                <li>Высота подвешивания (расстояние от земли, длина тросов) </li>
                <li>Нестабильность (изменение площади опоры, сенсомоторные подушки)</li>
                <li>Дополнительные движения (односторонние, двусторонние)</li>
                <li>Дополнительная нагрузка (подъем большей части тела, внешняя нагрузка).</li>
            </ol>

            <blockquote>
                <h6>Некая информация, которую нужно выделить в тексте</h6>

                <h3>Что такое Экзарта?</h3>
                <p>Экзарта — кинезиотерапевтическая методика лечения пациентов с нарушениями в работе опорно-двигательного аппарата после различных заболеваний, травм или длительного отсутствия физической активности. Экзарта избавляет от боли в мышцах и суставах, восстанавливает нервно-мышечный контроль и возвращает правильный двигательный стереотип. Лечение осуществляется через выполнение физических упражнений на специальной установке с подвесными системами.</p>
            </blockquote>

            <p>Фотография внутри текста</p>
            <img src="/images/desktop/pic/ekzartamini63.jpg" alt="">

        </div>
    </div>
</section>

@@include('templates/desktop/include/footer.html')