@@include('templates/desktop/include/header-ekzarta.html')

<section class="product">
    <div class="product__inner">
        <h1>Тренажер Экзарта Мини</h1>
        <div class="product__card">
            <div class="product__photos">
                <div class="swiper-container product__photo">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" style="background-image:url(/images/desktop/pic/ekzarta-mini-basic.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/images/desktop/pic/ekzartamini63.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/images/desktop/pic/ekzartamini_sport_01.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/images/desktop/pic/ekzarta-mini-basic.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/images/desktop/pic/ekzartamini63.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/images/desktop/pic/ekzartamini_sport_01.jpg)"></div>
                    </div>
                </div>
                <div class="swiper-container product__thumbs">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" style="background-image:url(/images/desktop/pic/ekzarta-mini-basic.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/images/desktop/pic/ekzartamini63.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/images/desktop/pic/ekzartamini_sport_01.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/images/desktop/pic/ekzarta-mini-basic.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/images/desktop/pic/ekzartamini63.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/images/desktop/pic/ekzartamini_sport_01.jpg)"></div>
                    </div>
                </div>
            </div>
            <div class="product__order">
                <p class="product__cost text-title text-title_big">11295 Руб.</p>
                <p class="product__sale">Участникам курсов МАМР скидка 30%</p>
                <div class="product__amount">
                    <button class="button_minus" type="button" name="button"></button>
                    <input type="text" name="name" value="1">
                    <button class="button_plus" type="button" name="button"></button>
                </div>
                <button class="product__button button button_red">В корзину</button>
            </div>
        </div>
        <div class="product__info"></div>
    </div>
</section>

@@include('templates/desktop/include/footer.html')