@@include('templates/desktop/include/header-ekzarta.html')

<section class="reviews-video">
    <div class="reviews-video__inner">
        <div class="reviews-video__video"></div>
        <div class="reviews-video__list">
            <div class="reviews-video__pdf">
                <a class="reviews-video__pdf-item">Благодарственное письмо АБФ "Дети"</a>
                <a class="reviews-video__pdf-item">Благодарность депутата Законодательного Собрания Нижегородской области А.И.Москалёва</a>
                <a class="reviews-video__pdf-item">Отзыв от санатория "Боровое"</a>
                <a class="reviews-video__pdf-item">Отзыв от Минского областного центра медицинской реабилитации "Загорье"</a>
            </div>
            <div class="reviews-video__videos">
                <a class="reviews-video__video-item">
                    <!--<img src="" alt="">-->
                    <p>Отзыв Наталии Ванесян</p>
                </a>
                <a class="reviews-video__video-item">
                    <!--<img src="" alt="">-->
                    <p>Обучение методике Бобат
                        для взрослых</p>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="reviews">
    <div class="reviews__title">
        <p>ОТЗЫВЫ</p>
        <a href="">ДОБАВИТЬ ОТЗЫВ</a>
    </div>
    <div class="reviews__reviews">
        <div class="reviews__review">
            <div class="review__header">
                <p class="review__author">Лаврова Наталья</p>
                <p class="review__date">08 октября 2018, 14:59</p>
            </div>
            <div class="review__content">
                <p>С 10 августа 2018г мои девочки близнецы Варя и Лиза проходят курс реабилитации в медицинском центре «Экзарта».
                    Хочется выразить особую благодарность нашит любимым профессионалам своего дела и просто хорошим людям Валяеву Кирилу Дмитриевичу и Качмашеву Андрею Павловичу! Спасибо за Вашу доброжелательность и индивидуальный подход к каждой из моих девочек. Спасибо за Ваши знания, старания и мастерство. За такой короткий промежуток времени мы добились значительных для нас результатов: Лиза научилась ходить, а Варя улучшила свои результаты для достижения поставленной цели! Мы очень довольны результатами. Спасибо Вам огромное!!!

                    С уважением,
                    Лаврова Наталья</p>
            </div>
        </div>
        <div class="reviews__review">
            <div class="review__header">
                <p class="review__author">Лаврова Наталья</p>
                <p class="review__date">08 октября 2018, 14:59</p>
            </div>
            <div class="review__content">
                <p>С 10 августа 2018г мои девочки близнецы Варя и Лиза проходят курс реабилитации в медицинском центре «Экзарта».
                    Хочется выразить особую благодарность нашит любимым профессионалам своего дела и просто хорошим людям Валяеву Кирилу Дмитриевичу и Качмашеву Андрею Павловичу! Спасибо за Вашу доброжелательность и индивидуальный подход к каждой из моих девочек. Спасибо за Ваши знания, старания и мастерство. За такой короткий промежуток времени мы добились значительных для нас результатов: Лиза научилась ходить, а Варя улучшила свои результаты для достижения поставленной цели! Мы очень довольны результатами. Спасибо Вам огромное!!!

                    С уважением,
                    Лаврова Наталья</p>
            </div>
        </div>
        <div class="reviews__review">
            <div class="review__header">
                <p class="review__author">Лаврова Наталья</p>
                <p class="review__date">08 октября 2018, 14:59</p>
            </div>
            <div class="review__content">
                <p>С 10 августа 2018г мои девочки близнецы Варя и Лиза проходят курс реабилитации в медицинском центре «Экзарта».
                    Хочется выразить особую благодарность нашит любимым профессионалам своего дела и просто хорошим людям Валяеву Кирилу Дмитриевичу и Качмашеву Андрею Павловичу! Спасибо за Вашу доброжелательность и индивидуальный подход к каждой из моих девочек. Спасибо за Ваши знания, старания и мастерство. За такой короткий промежуток времени мы добились значительных для нас результатов: Лиза научилась ходить, а Варя улучшила свои результаты для достижения поставленной цели! Мы очень довольны результатами. Спасибо Вам огромное!!!

                    С уважением,
                    Лаврова Наталья</p>
            </div>
        </div>
    </div>
</section>



@@include('templates/desktop/include/footer.html')