@@include('templates/desktop/include/header-ekzarta.html')

<section class="technology-header">
    <div class="technology-header__desc">
        <p class="technology-header__title">Технология «Экзарта»™<br>
            включает в себя три<br>
            компонента:</p>
        <ul>
            <li>Методика «Экзарта»™</li>
            <li>Кинезотерапевтическая установка «Экзарта»™</li>
            <li>Обучение специалистов для реабилитации, фитнеса и спорта</li>
        </ul>
    </div>
    <div class="technology-header__image"></div>
</section>

@@include('templates/desktop/include/footer.html')