.landing-header {
    position: relative;
    @mixin i pic/header-bg, jpg;
    width: 100%;
    height: 375px;
    background-size: cover;
    background-position: 50% 50%;
    color: #002337;
    &__inner {
        display: flex;
        height: 100%;
        justify-content: space-between;
        padding: 46px 73px;
        max-width: 1440px;
        margin: 0 auto;
    }
    &__title {
         width: 485px;
         font-family: 'PF DinDisplay Pro';
         font-size: 40px;
         font-weight: 900;
         font-style: normal;
         font-stretch: normal;
         line-height: normal;
         letter-spacing: 2.5px;
         text-transform: uppercase;
    }
    &__contacts {
        text-align: right;
         font-family: 'PF Din Text Cond Pro';
         font-size: 16px;
         font-weight: normal;
         font-style: normal;
         font-stretch: normal;
         line-height: 1.27;
         letter-spacing: 0.47px;
    }
    &__phones {
        margin-bottom: 10px;
        p {margin: 0;}
    }
    &__opening {
        margin-bottom: 22px;
    }
    &__button {
        a {
            display: block;
            text-decoration: none;
        }
    }
    &:after {
         position: absolute;
         content: '';
         background-image: url("images/desktop/icons/clouds-small.svg");
         width: 100%;
         height: 121px;
         background-repeat: no-repeat;
         background-size: cover;
         bottom: 0;
    }
}