.franchise{
    &-statistics {
        padding-left: 74px;
        &__title {
            width: 60%;
            margin-bottom: 42px;
        }
        ul {
            width: 85%;
            padding-left: 74px;
            display: flex;
            flex-wrap: wrap;
            li {
                width: 50%;
                margin-bottom: 15px;
                span {
                    font-family: 'PF DinDisplay Pro';
                    font-size: 55px;
                    font-weight: 900;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: 2.5px;
                    color: #8cde98;
                    text-transform: uppercase;
                }
                p {
                    width: 300px;
                }
            }
        }
    }
    &-chart {
         position: relative;
         z-index: 5;
         margin: 0 30px;
         &:after {
              position: absolute;
              content: '';
              width: 18%;
              height: 100%;
              border-radius: 0 3px 3px 0;
              background-color: #f8f6f0;
              right: 0;
              top: 0;
              z-index: 5;
         }
         &__inner {
              display: flex;
              justify-content: space-between;
              height: 386px;
              padding: 47px 29px 10px 74px;
              max-width: 1440px;
              margin: 0 auto;
              border-radius: 3px;
              box-shadow: 0 2px 5px 0 rgba(82, 65, 30, 0.19), 0 5px 18px 0 rgba(174, 148, 113, 0.22);
              background-color: #ffffff;
         }
         &__title {
              position: relative;
              margin-right: 40px;
              width: 250px;
              p {
                  font-family: 'PF DinDisplay Pro';
                  font-size: 24px;
                  font-weight: 900;
                  font-stretch: normal;
                  font-style: normal;
                  line-height: 1.17;
                  letter-spacing: 1.3px;
                  color: #002337;
                  margin-bottom: 27px;
                  text-transform: uppercase;
                  b {
                      position: relative;
                      &:after {
                           position: absolute;
                           content: '';
                           width: 12px;
                           height: 12px;
                           background-color: #e61841;
                           border-radius: 50%;
                           left: -24px;
                           top: 8px;
                      }
                  }
              }
              span {
                  font-family: 'PF Din Text Cond Pro';
                  font-size: 16px;
                  font-weight: normal;
                  font-stretch: normal;
                  font-style: normal;
                  line-height: 1.27;
                  letter-spacing: 0.47px;
                  color: #002337;
              }
              &:before {
                   position: absolute;
                   content: '';
                   width: 12px;
                   height: 12px;
                   border: 1px solid #002337;
                   border-radius: 50%;
                   left: -30px;
                   top: 8px;
              }
              &:after {
                   position: absolute;
                   content: '';
                   width: 12px;
                   height: 12px;
                   background-color: #002337;
                   border-radius: 50%;
                   left: -24px;
                   top: 8px;
              }
         }
         &__chart {
              position: relative;
              display: flex;
              flex-grow: 1;
              z-index: 10;
              &>div {
                   display: flex;
                   flex-direction: column-reverse;
                   width: 70px;
                   flex-grow: 1;
                   p {
                       font-family: 'PF Din Text Cond Pro';
                       font-size: 16px;
                       font-weight: normal;
                       font-stretch: normal;
                       font-style: normal;
                       line-height: 1.27;
                       letter-spacing: 0.47px;
                       color: #002337;
                       margin-top: 10px;
                       &.data {}
                   }
                   .volume {
                       border-bottom: 1px solid #e61841;
                       transform-origin: 0% 0%;
                       div {
                           width: 4px;
                           height: 100%;
                           background-color: #e61841;
                           transform-origin: 0% 100%;
                       }
                   }
                   &:nth-child(1) {
                       .volume {height: 103.8px;}
                   }
                   &:nth-child(2) {
                       .volume {height: 118.66px;}
                   }
                   &:nth-child(3) {
                       .volume {height: 136.18px;}
                   }
                   &:nth-child(4) {
                       .volume {height: 148.86px;}
                   }
                   &:nth-child(5) {
                       .volume {height: 153.84px;}
                   }
                   &:nth-child(6) {
                       .volume {height: 158.32px;}
                   }
                   &:nth-child(7) {
                       .volume {height: 165.08px;}
                   }
                   &:nth-child(8) {
                       .volume {height: 174px;}
                   }
                   &:nth-child(9) {
                       .volume {
                           height: 185.6px;
                           div {
                               border: 1px solid #e61841;
                               background-color: #ffffff;
                           }
                       }
                   }
                   &:nth-child(10) {
                       .volume {
                           height: 200px;
                           border-bottom: none;
                           div {
                               border: 1px solid #e61841;
                               background-color: #ffffff;
                           }
                       }
                   }
              }
              &.animate {
                   &>div {
                       p {
                            &.data {
                                 animation: go-step-up .5s linear;
                            }
                       }
                       .volume {
                            animation: stretchRight 0.2s linear;
                            transform-origin: 0% 0%;
                            div {
                                 animation: stretchUp 0.5s linear;
                                 transform-origin: 0% 100%;
                            }
                       }
                       &:nth-child(1) {
                            .volume {
                                 animation-delay: 0s;
                                 div {
                                      animation-delay: 0s;
                                 }
                            }
                       }
                       &:nth-child(2) {
                            p.data {animation-delay: .2s;}
                                .volume {
                                    height: 118.66px;
                                    animation-delay: .2s;
                                div {
                                    animation-delay: .2s;
                                }
                            }
                       }
                       &:nth-child(3) {
                           p.data {animation-delay: .4s;}
                           .volume {
                               height: 136.18px;
                               animation-delay: .4s;
                               div {
                                   animation-delay: .4s;
                               }
                           }
                       }
                       &:nth-child(4) {
                           p.data {animation-delay: .6s;}
                           .volume {
                               height: 148.86px;
                               animation-delay: .6s;
                               div {
                                   animation-delay: .6s;
                               }
                           }
                       }
                       &:nth-child(5) {
                           p.data {animation-delay: .8s;}
                           .volume {
                               height: 153.84px;
                               animation-delay: .8s;
                               div {
                                   animation-delay: .8s;
                               }
                           }
                       }
                       &:nth-child(6) {
                           p.data {animation-delay: 1s;}
                           .volume {
                               height: 158.32px;
                               animation-delay: 1s;
                               div {
                                   animation-delay: 1s;
                               }
                           }
                       }
                       &:nth-child(7) {
                           p.data {animation-delay: 1.2s;}
                           .volume {
                               height: 165.08px;
                               animation-delay: 1.2s;
                               div {
                                   animation-delay: 1.2s;
                               }
                           }
                       }
                       &:nth-child(8) {
                           p.data {animation-delay: 1.4s;}
                           .volume {
                               height: 174px;
                               animation-delay: 1.4s;
                               div {
                                   animation-delay: 1.4s;
                               }
                           }
                       }
                       &:nth-child(9) {
                           p.data {animation-delay: 1.6s;}
                           .volume {
                               height: 185.6px;
                               animation-delay: 1.6s;
                               div {
                                   animation-delay: 1.6s;
                               }
                           }
                       }
                       &:nth-child(10) {
                           p.data {animation-delay: 1.8s;}
                           .volume {
                               height: 200px;
                               border-bottom: none;
                               div {
                                   border: 1px solid #e61841;
                                   background-color: #ffffff;
                                   animation-delay: 1.8s;
                               }
                           }
                       }
                   }
              }
         }
    }
    &-advantages {
        position: relative;
        width: 90%;
        margin: 0 auto 62px;
        border-radius: 3px;
        background-color: #f8f6f0;
        &__inner {
            padding: 62px 40px 100px;
        }
        &__title {
             font-family: 'PF DinDisplay Pro';
             font-size: 40px;
             font-weight: 900;
             font-style: normal;
             font-stretch: normal;
             line-height: normal;
             letter-spacing: 2.5px;
             color: #002337;
             text-transform: uppercase;
             margin-bottom: 31px;
        }
        &__block {
            display: inline-block;
            vertical-align: top;
            width: 45%;
            p.text-title {
                margin-bottom: 28px;
            }
            ul {
                li {
                    display: flex;
                    margin-bottom: 28px;
                    align-items: center;
                    span {
                        margin-right: 17px;
                        img {
                            width: auto;
                            height: 55px;
                        }
                    }
                    p {
                        font-size: 16px;
                    }
                    &:nth-child(4) {
                        span {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
        &__partners {

        }
        &__clients {
            padding-left: 74px;
        }
        &__form {
            position: absolute;
            width: 438px;
            bottom: -65px;
            right: -20px;
            border-radius: 3px;
            box-shadow: 0 2px 5px 0 rgba(82, 65, 30, 0.19), 0 5px 18px 0 rgba(174, 148, 113, 0.22);
            background-color: #ffffff;
            form {
                padding: 31px 53px 0 36px;
                p {
                    font-family: 'PF Din Text Cond Pro';
                    font-size: 16px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.27;
                    letter-spacing: 0.47px;
                    color: #002337;
                    margin-bottom: 25px;
                }
                input {
                    width: 100%;
                }
                label {
                    margin-left: 0!important;
                }
                button {
                    width: 438px;
                    height: 65px;
                    margin-top: 15px;
                    margin-left: -36px;
                    margin-right: -53px;
                    background-color: #e61841;
                    color: #fff;
                    font-family: 'PF DinDisplay Pro';
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.38;
                    letter-spacing: 0.44px;
                }
            }
        }
    }
    &-calculator {
        position: relative;
        z-index: 5;
        &__inner {
            padding: 0 30px;
            max-width: 1440px;
            margin: 0 auto;
        }
        &__packages {
             display: flex;
             justify-content: flex-start;
             input {
                 appearance: none;
                 position: absolute;
                 &:checked + label {
                      box-shadow: inset 0 2px 5px 0 rgba(162, 0, 44, 0.59);
                      background-color: #e61841;
                      color: #fff;
                 }
             }
             label {
                 position: relative;
                 display: block;
                 padding: 6px 20px;
                 border-radius: 18.5px;
                 box-shadow: 0 2px 5px 0 rgba(82, 65, 30, 0.19), 0 5px 18px 0 rgba(174, 148, 113, 0.22);
                 background-color: #ffffff;
                 cursor: pointer;
                 transition: all .5s linear;
                 font-family: 'PF DinDisplay Pro';
                 font-size: 20px;
                 font-weight: bold;
                 font-style: normal;
                 font-stretch: normal;
                 line-height: normal;
                 letter-spacing: normal;
                 text-align: center;
                 color: #e61841;
                 margin-left: 0!important;
                 margin-right: 40px;
                 text-transform: uppercase;
             }
        }
        &__title {
             font-family: 'PF DinDisplay Pro';
             font-size: 40px;
             font-weight: 900;
             font-style: normal;
             font-stretch: normal;
             line-height: normal;
             letter-spacing: 2.5px;
             color: #002337;
             margin-bottom: 13px;
             padding-left: 40px;
        }
        &__desc {
             display: inline-block;
             position: relative;
             font-family: 'PF Din Text Cond Pro';
             font-size: 16px;
             font-weight: normal;
             font-style: normal;
             font-stretch: normal;
             line-height: 1.27;
             letter-spacing: 0.47px;
             color: #002337;
             cursor: pointer;
             margin-bottom: 31px;
             &:after {
                  position: absolute;
                  content: '';
                  width: 11px;
                  height: 11px;
                  right: -25px;
                  top: 10px;
                  border-right: 1px solid #002337;
                  border-bottom: 1px solid #002337;
                  transform: rotate(-135deg);
                  transition: all .3s linear;
             }
             &.hide {
                  &:after {
                       top: 2px;
                       transform: rotate(45deg);
                       transition: all .3s linear;
                  }
             }
        }
        &__calculator {
             border-radius: 3px;
             box-shadow: 0 2px 5px 0 rgba(82, 65, 30, 0.19), 0 5px 18px 0 rgba(174, 148, 113, 0.22);
             background-color: #ffffff;
             padding: 43px 50px 67px;
        }
        &__initial-data {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 45px;
            div {
                position: relative;
                width: 45%;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                border-bottom: solid 1px rgba(0, 35, 55, .1);
                padding-bottom: 10px;
                margin-bottom: 20px;
                &.star {
                    &:before {
                         position: absolute;
                         content: '';
                         width: 20px;
                         height: 20px;
                         left: -30px;
                         top: 0;
                         background: url("/images/desktop/icons/star.svg") 50% 50%/contain no-repeat;
                    }
                }
                p {
                    font-family: 'PF DinDisplay Pro';
                    font-size: 16px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    letter-spacing: 0.76px;
                    color: #002337;
                    margin-bottom: 0;
                    text-transform: uppercase;
                }
                span {
                    font-family: 'PF Din Text Cond Pro';
                    font-size: 16px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.27;
                    letter-spacing: 0.47px;
                    color: #002337;
                    text-transform: none;
                    text-align: right;
                }
            }
        }
        &__variable-data {
             display: flex;
             justify-content: space-between;
             flex-wrap: wrap;
             /*justify-content: space-between;*/
             margin-bottom: 35px;
            p {
                width: 100%;
                font-family: 'PF DinDisplay Pro';
                font-size: 27px;
                font-weight: 900;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.04;
                letter-spacing: 1.46px;
                color: #002337;
            }
            .form-group {
                width: 25%;
                &:nth-child(4),
                &:nth-child(7) {
                    width: 40%;
                }
                &:nth-child(10),
                &:nth-child(11) {
                     width: 17.5%;
                }
                &:nth-child(11),
                &:nth-child(10),
                &:nth-child(7) {
                     input {
                         width: 100%;
                     }
                }
                label {
                    margin-left: 0;
                    b {
                        font-weight: normal;
                    }
                }
                &.big-label {
                    padding-top: 40px;
                }
                span {
                    display: block;
                    font-family: 'PF Din Text Cond Pro';
                    font-size: 16px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.27;
                    letter-spacing: 0.47px;
                    color: #002337;
                }
                &.form__amount {
                     margin-top: 20px;
                    .button_minus,
                    .button_plus {
                        height: 39px;
                        box-shadow: none;
                    }
                    input {
                        width: 53px;
                        border-radius: 0;
                        /*box-shadow: none;*/
                        border-right: 0;
                        border-left: 0;
                        text-align: center;
                    }
                }
                &.form__select {
                    margin-bottom: 30px;
                    select {

                    }
                }
                &.range {
                    display: flex;
                    align-items: flex-start;
                    margin-top: 20px;
                    margin-bottom: 30px;
                    input[type=text] {
                        width: 70px;
                        margin-right: 10px;
                    }
                }
                input[type=range] {
                    -webkit-appearance: none;
                    width: 100%;
                    margin: 13.5px 0;
                    border: none;
                    background-color: #fff;
                    box-shadow: none;
                    padding: 0;
                }
                input[type=range]:focus {
                    outline: none;
                }
                input[type=range]::-webkit-slider-runnable-track {
                    width: 100%;
                    height: 1px;
                    cursor: pointer;
                    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
                    background: #002337;
                    border-radius: 1px;
                    border: 0px solid #010101;
                }
                input[type=range]::-webkit-slider-thumb {
                    box-shadow: 0 2px 5px 0 rgba(82, 65, 30, 0.19), 0 5px 18px 0 rgba(174, 148, 113, 0.22);
                    border: 2px solid #ffffff;
                    height: 28px;
                    width: 28px;
                    border-radius: 50px;
                    background: #e61841;
                    cursor: pointer;
                    -webkit-appearance: none;
                    margin-top: -13.5px;
                }
                input[type=range]:focus::-webkit-slider-runnable-track {
                    background: #003656;
                }
                input[type=range]::-moz-range-track {
                    width: 100%;
                    height: 1px;
                    cursor: pointer;
                    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
                    background: #002337;
                    border-radius: 1px;
                    border: 0px solid #010101;
                }
                input[type=range]::-moz-range-thumb {
                    box-shadow: 1px 1px 5px #000000, 0px 0px 1px #0d0d0d;
                    border: 2px solid #ffffff;
                    height: 28px;
                    width: 28px;
                    border-radius: 50px;
                    background: #e61841;
                    cursor: pointer;
                }
                input[type=range]::-ms-track {
                    width: 100%;
                    height: 1px;
                    cursor: pointer;
                    background: transparent;
                    border-color: transparent;
                    color: transparent;
                }
                input[type=range]::-ms-fill-lower {
                    background: #001018;
                    border: 0px solid #010101;
                    border-radius: 2px;
                    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
                }
                input[type=range]::-ms-fill-upper {
                    background: #002337;
                    border: 0px solid #010101;
                    border-radius: 2px;
                    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
                }
                input[type=range]::-ms-thumb {
                    box-shadow: 1px 1px 5px #000000, 0px 0px 1px #0d0d0d;
                    border: 2px solid #ffffff;
                    height: 28px;
                    width: 28px;
                    border-radius: 50px;
                    background: #e61841;
                    cursor: pointer;
                    height: 1px;
                }
                input[type=range]:focus::-ms-fill-lower {
                    background: #002337;
                }
                input[type=range]:focus::-ms-fill-upper {
                    background: #003656;
                }
            }
        }
        &__forecast {
             display: flex;
             justify-content: space-evenly;
             align-items: center;
             border-radius: 3px;
             padding: 0 14px 0 74px;
             background-color: #dff5db;
             height: 110px;
             margin: 34px 0;
             div {
                 width: 30%;
             }
             p {
                 font-family: 'PF Din Text Cond Pro';
                 font-size: 18px;
                 font-weight: normal;
                 font-stretch: normal;
                 font-style: normal;
                 line-height: 1.27;
                 letter-spacing: 0.47px;
                 color: #002337;
                 margin-bottom: 0;
                 b {
                     font-weight: normal;
                 }
             }
             span {
                 display: block;
                 font-family: 'PF DinDisplay Pro';
                 font-size: 17px;
                 font-weight: 900;
                 font-stretch: normal;
                 font-style: normal;
                 line-height: 1.18;
                 letter-spacing: 0.92px;
                 color: #002337;
                 text-transform: uppercase;
                 margin-top: 18px;
             }
        }
        &__order {
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            p {
                width: 30%;
                font-family: 'PF Din Text Cond Pro';
                font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.27;
                letter-spacing: 0.47px;
                color: #002337;
            }
            a.button {
                margin-left: 40px;
                padding: 25px 125px;
            }
        }
    }
    &-concept {
        position: relative;
        width: 90%;
        display: flex;
        justify-content: space-between;
        z-index: 1;
        margin: 0 auto 62px;
        &__desc {
            margin-right: 35px;
            padding-top: 61px;
            padding-left: 37px;
            p {
                font-family: 'PF DinDisplay Pro';
                font-size: 40px;
                font-weight: 900;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 2.5px;
                color: #002337;
            }
            span {
                font-size: 16px;
            }
        }
        &__slider {
             position: relative;
             width: 475px;
             height: 348px;
            .swiper-container {
                width: 100%;
                height: 100%;
            }
             .swiper-slide {
                 img {
                     width: 100%;
                 }
             }
            .swiper-button-prev {
                background-image: url("/images/desktop/icons/arrow.svg");
                transform: rotate(180deg);
                left: 0;
            }
            .swiper-button-next {
                background-image: url("/images/desktop/icons/arrow.svg");
                right: 366px;
            }
            .swiper-button-prev,
            .swiper-button-next {
                width: 16px;
                height: 16px;
                background-size: contain;
                top: 108%;
            }
            .swiper-pagination-fraction {
                width: 23%;
                bottom: -24px;
                font-family: 'PF Din Text Cond Pro';
                font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                letter-spacing: 0.7px;
                color: #002337;
            }
        }
    }
    &-steps {
         position: relative;
         border-radius: 3px;
         background-image: radial-gradient(circle at 86% 78%, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0) 53%), linear-gradient(to bottom, #f8f6f0, #f8f6f0);
         &:before {
              position: absolute;
              content: '';
              background: url("/images/desktop/pic/finish@2x.png") 0 0 no-repeat;
              right: 0;
              bottom: 0;
              width: 370px;
              height: 273px;
              background-size: 370px 273px;
         }
         &__inner {
              padding: 61px 74px 0;
         }
         &__title {
              font-family: 'PF DinDisplay Pro';
              font-size: 40px;
              font-weight: 900;
              font-stretch: normal;
              font-style: normal;
              line-height: normal;
              letter-spacing: 2.5px;
              color: #002337;
              margin-bottom: 36px;
         }
         &__steps {
              display: flex;
              flex-wrap: wrap;
         }
         &__step {
              position: relative;
              width: 16.5%;
              margin-bottom: 62px;
              &:before {
                  position: absolute;
                  content: '';
                  width: 100%;
                  height: 2px;
                  left: 0;
                  top: 34px;
                  background-color: rgba(232,77,90,1);
                  z-index: 1;
              }
              span {
                  position: relative;
                  display: block;
                  width: 64px;
                  height: 64px;
                  box-shadow: inset 0px 0px 0px 2px rgba(232,77,90,1),
                  0px 0px 0px 2px rgba(255,255,255,1),
                  0 2px 5px 0 rgba(82, 65, 30, 0.19), 0 5px 18px 0 rgba(174, 148, 113, 0.22);
                  background-color: #ffffff;
                  border-radius: 50%;
                  margin: 0 0 10px;
                  font-family: 'PF DinDisplay Pro';
                  font-size: 40px;
                  font-weight: 500;
                  font-stretch: normal;
                  font-style: normal;
                  line-height: 64px;
                  letter-spacing: 2.5px;
                  color: #002337;
                  text-align: center;
                  z-index: 5;
              }
              p {
                  font-family: 'PF Din Text Cond Pro';
                  font-size: 16px;
                  font-weight: normal;
                  font-stretch: normal;
                  font-style: normal;
                  line-height: 1.27;
                  letter-spacing: 0.47px;
                  color: #002337;
              }
         }
         &__finish {
              position: relative;
              z-index: 5;
              p {
                  width: 232px;
                  height: 68px;
                  border-radius: 34px;
                  box-shadow: 0 2px 5px 0 rgba(82, 65, 30, 0.19), 0 5px 18px 0 rgba(174, 148, 113, 0.22);
                  background-color: #ffffff;
                  font-family: 'PF DinDisplay Pro';
                  font-size: 30px;
                  font-weight: 900;
                  font-stretch: normal;
                  font-style: normal;
                  line-height: 68px;
                  letter-spacing: 1.88px;
                  color: #002337;
                  text-align: center;
              }
         }
         &.animate {
              .franchise-steps__step {
                  &:before {
                       animation: stretchRight 0.5s linear;
                       transform-origin: 0% 0%;
                  }
                  span {
                      animation: go-step 1s ease-in-out;
                  }
                  &:nth-child(2) {
                      &:before {animation-delay: 0.5s;}
                      span {animation-delay: 0.5s;}
                  }
                  &:nth-child(3) {
                      &:before {animation-delay: 1s;}
                      span {animation-delay: 1s;}
                  }
                  &:nth-child(4) {
                      &:before {animation-delay: 1.5s;}
                      span {animation-delay: 1.5s;}
                  }
                  &:nth-child(5) {
                      &:before {animation-delay: 2s;}
                      span {animation-delay: 2s;}
                  }
                  &:nth-child(6) {
                      &:before {animation-delay: 2.5s;}
                      span {animation-delay: 2.5s;}
                  }
                  &:nth-child(7) {
                      &:before {animation-delay: 3s;}
                      span {animation-delay: 3s;}
                  }
                  &:nth-child(8) {
                      &:before {animation-delay: 3.5s;}
                      span {animation-delay: 3.5s;}
                  }
                  &:nth-child(9) {
                      &:before {animation-delay: 4s;}
                      span {animation-delay: 4s;}
                  }
                  &:nth-child(10) {
                      &:before {animation-delay: 4.5s;}
                      span {animation-delay: 4.5s;}
                  }
              }
              .franchise-steps__finish {
                  p {animation: finish 2s 5s ease-in-out;}
              }
         }
    }
    &-founder {
        text-align: center;
        padding: 80px 0 55px;
        &__title {
             font-family: 'PF DinDisplay Pro';
             font-size: 40px;
             font-weight: 900;
             font-stretch: normal;
             font-style: normal;
             line-height: normal;
             letter-spacing: 2.5px;
             text-align: center;
             color: #002337;
             margin-bottom: 35px;
        }
        &__image {
            width: 160px;
            height: 160px;
            margin: 0 auto 20px;
            img {
                width: 100%;
            }
        }
        &__name {
             font-family: 'PF DinDisplay Pro';
             font-size: 24px;
             font-weight: 900;
             font-stretch: normal;
             font-style: normal;
             line-height: 1.17;
             letter-spacing: 1.3px;
             text-align: center;
             color: #002337;
        }
        &__position {
             font-family: 'PF Din Text Cond Pro';
             font-size: 16px;
             font-weight: normal;
             font-stretch: normal;
             font-style: normal;
             line-height: 1.27;
             letter-spacing: 0.47px;
             color: #002337;
             margin-bottom: 34px;
        }
        &__text {
            width: 50%;
            text-align: left;
            margin: 0 auto;
            font-size: 16px;
        }
    }
}

@keyframes go-step {
    0%   { transform: scale(0); box-shadow: none;}
    33%  { transform: scale(1.3)}
    66%  { transform: scale(.8);}
    100%  { transform: scale(1);
        box-shadow: inset 0px 0px 0px 2px rgba(232,77,90,1),
        0px 0px 0px 2px rgba(255,255,255,1),
        0 2px 5px 0 rgba(82, 65, 30, 0.19), 0 5px 18px 0 rgba(174, 148, 113, 0.22);
        }
}

@keyframes finish {
    0%   { transform: scale(0); box-shadow: none;}
    33%  { transform: scale(1.3)}
    66%  { transform: scale(.8);
        box-shadow: inset 0px 0px 0px 2px rgba(232,77,90,1),
        0px 0px 0px 2px rgba(255,255,255,1),
        0 2px 5px 0 rgba(82, 65, 30, 0.19), 0 5px 18px 0 rgba(174, 148, 113, 0.22);}
    100%  { transform: scale(1);box-shadow: none;
    }
}

@keyframes go-step-line {
    0%   { transform: translateX(0%);}
    100%  { transform: translateX(100%);}
}

@keyframes go-step-up {
    0%   { transform: translateY(150px);}
    100%  { transform: translateY(0);}
}

@keyframes stretchRight {
    0% {
        transform: scaleX(0.3);
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes stretchUp {
    0% {
        transform: scaleY(0);
        opacity: 0;
    }
    100% {
        transform: scaleY(1);
        opacity: 1;
    }
}