:root {
    --font-base: 'PF Din Text Cond Pro', Verdana, sans-serif, Arial;
    /*--font: 'Oriflame Sans', Verdana, sans-serif, Arial;*/
    /*--font-title: 'Garamond for Oriflame', Verdana, sans-serif, Arial;*/
    /*--font-serif: 'PT Serif', serif;*/
    /*--font-obaum: 'Oranienbaum', serif;*/
    /*--font-roboto: 'Roboto', sans-serif;*/
}

html, body {
    font-family: var(--font-base);
    min-width: 1000px;
    line-height: 1.16;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
input, button {
    font-family: var(--font-base);
    &:focus {
      outline: 3px auto #ea808c;
    }
}

button {
    cursor: pointer;
    &[disabled] {
        color: inherit;
        cursor: default;
    }
}

a {
    font-family: var(--font-base);
    &:focus {
      outline: 3px auto #ea808c;
    }
    &:hover {
        text-decoration: none;
    }
}

.text-content {
    font-family: 'PF Din Text Cond Pro';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27;
    letter-spacing: 0.47px;
    color: #002337;
}

.text-title {
    font-family: 'PF DinDisplay Pro';
    font-size: 18px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.28;
    letter-spacing: 0.97px;
    color: #002337;
    text-transform: uppercase;
    &_big {
         font-size: 24px;
         line-height: 1.17;
         letter-spacing: 1.3px;
    }
}


::selection {
  background: color(#83c1c4 tint(75%));
}