:root {
    --font-base: 'PF Din Text Cond Pro', Verdana, sans-serif, Arial;
}

/** { background-color: rgba(255,0,0,.2); }*/
/** * { background-color: rgba(0,255,0,.2); }*/
/** * * { background-color: rgba(0,0,255,.2); }*/
/** * * * { background-color: rgba(255,0,255,.2); }*/
/** * * * * { background-color: rgba(0,255,255,.2); }*/
/** * * * * * { background-color: rgba(255,255,0,.2); }*/
/** * * * * * * { background-color: rgba(255,0,0,.2); }*/
/** * * * * * * * { background-color: rgba(0,255,0,.2); }*/
/** * * * * * * * * { background-color: rgba(0,0,255,.2); }*/

html, body {
    font-family: var(--font-base);
    min-width: 1000px;
    line-height: 1.16;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    &.layout {
        &:after {
            position: absolute;
            content: '';
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, .3);
            z-index: 15;
        }
    }
}

input, button {
    font-family: var(--font-base);
    &:focus {
         outline: none;
    }
    &::-moz-focus-inner {
         border: none;
    }
}

button {
    cursor: pointer;
    &[disabled] {
        color: inherit;
        cursor: default;
    }
}

a {
    font-family: 'PF Din Text Cond Pro';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: 0.7px;
    color: #e61841;
    text-decoration: underline;
    &:focus {
        outline: 3px auto #ea808c;
    }
    &:hover {
        text-decoration: none;
        color: #e61841;
    }
    &.button {
        text-decoration: none;
    }
    &.course-teacher {
        position: relative;
        padding-left: 20px;
        &:before {
            position: absolute;
            content: '';
            width: 12px;
            height: 8px;
            left: 0;
            top: calc(50% - 4px);
        }
        &.pl {
            &:before {
                background: url("/images/desktop/pic/pl.png") 50% 50%/contain no-repeat;
            }
        }
        &.ru {
            &:before {
                 background: url("/images/desktop/pic/ru.gif") 50% 50%/contain no-repeat;
            }
        }
    }
}

.text-content {
    font-family: 'PF Din Text Cond Pro';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27;
    letter-spacing: 0.47px;
    color: #002337;
}

.text-title {
    font-family: 'PF DinDisplay Pro';
    font-size: 18px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.28;
    letter-spacing: 0.97px;
    color: #002337;
    text-transform: uppercase;
    &_big {
         font-size: 24px;
         line-height: 1.17;
         letter-spacing: 1.3px;
    }
}

::selection {
    background: color(#83c1c4 tint(75%));
}