.button {
    padding: 15px 19px;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px #5f9d97, 0 10px 20px -5px rgba(123, 145, 158, 0.61);
    background-color: #ffffff;
    text-transform: uppercase;
    font-family: 'PF DinDisplay Pro';
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.28;
    letter-spacing: 0.98px;
    color: #e61841;
    &_logo {
         position: relative;
         padding: 19px 56px 15px 19px;
         &:after {
            position: absolute;
            content: '';
            @mixin io icons/logo-small, svg;
            width: 28px;
            height: 24px;
            background-size: contain;
            top: 15px;
            right: 15px;
         }
    }
    &_red {
         padding: 15px 30px;
         border-radius: 3px;
         background-color: #e61841;
         font-size: 16px;
         line-height: normal;
         letter-spacing: 0.44px;
         color: #ffffff;
    }
    &:hover {
        color: #ffffff;
    }
}