.footer {
    margin-top: auto;
    background-color: #002337;
    &__inner {
        padding: 57px 93px 30px 74px;
        max-width: 1440px;
        margin: 0 auto;
    }
    &__row {display: flex;}
    &__menu {
        display: flex;
        &_col {
            margin-right: 87px;
            li {
                list-style: none;
                margin-bottom: 26px;
            }
            a {
                font-family: 'PF DinDisplay Pro';
                font-size: 18px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.22;
                letter-spacing: normal;
                color: #f8f6f0;
                text-decoration: underline;
                &:hover {
                     text-decoration: none;
                }
            }
        }
    }
    &__logos {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
        padding-left: 30px;
        min-width: 50%;
    }
    &__info {
        margin-top: 30px;
        p {
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.22;
            letter-spacing: normal;
            margin: 0;
            color: #8cde98;
            a {color: #8cde98;}
        }
    }
    &__logo {
        margin-right: 30px;
        &>a {
            display: block;
            @mixin io icons/footer-logo, svg;
            width: 66px;
            height: 66px;
            background-size: contain;
            margin-bottom: 26px;
        }
        &.ekzarta {
            &>a {background: url("/images/desktop/icons/footer-logo.svg") 50% 50%/contain no-repeat;}
        }
        &.mamp {
            &>a {background: url("/images/desktop/logo_МАМР.png") 50% 50%/contain no-repeat;}
        }
        &.madin {
            &>a {
                 width: 170px;
                 background: url("/images/desktop/logo_MADIN.png") 50% 50%/contain no-repeat;
            }
        }
        &:last-child {margin-right: 0;}
    }
    &__social {
        ul {
            margin: 0;
            display: flex;
            li {
                margin-right: 10px;
                a {
                    display: block;
                    width: 30px;
                    height: 30px;
                    background-position: 50% 50%;
                    background-size: contain;
                    background-repeat: no-repeat;
                    &.vk {
                         background-image: url("/images/mobile/icons/vk.png");
                     }
                    &.in {
                         background-image: url("/images/mobile/icons/in.png");
                     }
                    &.fb {
                         background-image: url("/images/mobile/icons/fb.png");
                     }
                    &.yt {
                         background-image: url("/images/mobile/icons/yt.png");
                     }
                }
                &:last-child {
                     margin-right: 0;
                }
            }
        }
    }
    &__links {
        display: flex;
        justify-content: space-between;
        a {
            font-size: 18px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.22;
            letter-spacing: normal;
            text-align: right;
            color: #8cde98;
            text-decoration: underline;
            &:hover {
                 text-decoration: none;
            }
        }
    }
}