.menu {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10.5px;
    &_medcenter {
        justify-content: flex-start;
    }
    &__item {
         position: relative;
         margin-right: 20px;
         list-style: none;
         text-transform: uppercase;
         transition: all .5s easeInOutCubic;
         &>a {
             font-family: 'PF Din Text Cond Pro';
             font-size: 16px;
             font-weight: 500;
             font-style: normal;
             font-stretch: normal;
             line-height: 1.38;
             letter-spacing: 0.89px;
             color: #002337;
             text-decoration: none;
         }
         &:after {
             position: absolute;
             content: '';
             width: 0;
             height: 2px;
             bottom: -4.8px;
             left: 50%;
             border-radius: 0.8px;
             background-color: #e61841;
             transition: all .5s easeInOutCubic;
         }
         &:hover {
             &:after {
                 width: 100%;
                 left: 0;
             }
         }
         &:last-child {margin-right: 0;}
         &_basket {
            @mixin io icons/basket, svg;
            margin: 0 60px;
            cursor: pointer;
            &>p {
                font-size: 0;
                width: 20px;
                height: 20px;
            }
            &:after {content: none;}
            .quantity {
                text-align: center;
                position: absolute;
                width: 18px;
                height: 18px;
                bottom: 100%;
                left: 100%;
                font-size: 14px;
                margin: 0;
                background-color: #e61841;
                color: #fff;
                border-radius: 50%;
                display: none;
            }
            &.empty {
                .basket__checkout {
                    pointer-events: none;
                    background-color: rgba(68, 68, 68, .5);
                }
            }
            &.not-empty {
                .quantity {
                    display: block;
                }
            }
            &.active {
                .basket {
                    display: block;
                }
            }
         }
         &_medcenter {
            position: relative;
            margin-right: 30px;
            &:last-child {
                margin-left: auto;
                &:hover {
                    &:after {
                     content: none;
                    }
                    .menu-contacts {
                        opacity: 1;
                        transition: all .3s linear;
                        visibility: visible;
                    }
                }
            }
         }
    }
    &-contacts {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        width: 658px;
        background-color: #fff;
        box-shadow: 0 2px 5px 0 rgba(82, 65, 30, 0.19), 0 5px 18px 0 rgba(174, 148, 113, 0.22);
        top: -17px;
        right: 0;
        text-transform: none;
        transition: all .3s linear;
        &__inner {
            padding: 25px;
        }
        &__header {
             display: flex;
             justify-content: space-between;
             font-family: 'PF DinDisplay Pro';
             font-size: 24px;
             font-weight: 900;
             font-style: normal;
             font-stretch: normal;
             line-height: 1.17;
             letter-spacing: 1.3px;
             color: #002337;
             margin-bottom: 16px;
             text-transform: uppercase;
             a {
                white-space: nowrap;
                margin-left: 40px;
             }
        }
        &__row {
             display: flex;
             align-items: center;
             margin-bottom: 10px;
        }
        &__col {
            margin-right: 50px;
            p {
                font-family: 'PF Din Text Cond Pro';
                font-size: 16px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.36;
                letter-spacing: 0.44px;
                color: #002337;
                margin-bottom: 0;

                &.title {
                     font-weight: 500;
                     letter-spacing: 0.41px;
                }
            }
        }
    }
}