.specialists {
    &__inner {
        padding: 0 73px 100px;
    }
    &__title {
         font-family: 'PF DinDisplay Pro';
         font-size: 40px;
         font-weight: 900;
         font-style: normal;
         font-stretch: normal;
         line-height: normal;
         letter-spacing: 2.5px;
         color: #002337;
         margin-bottom: 65px;
    }
    &__cards {
        display: flex;
        flex-wrap: wrap;
    }
    &__card {
        width: 25%;
    }
}

.card {
    margin-bottom: 45px;
    text-align: center;
    text-decoration: none;
    &__image {
         width: 116px;
         height: 116px;
         margin: 0 auto 12px;
         img {
             width: 100%;
             height: inherit;
             border: 6px solid #fff;
             border-radius: 50%;
             box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.12);
         }
    }
    &__name {
         font-family: 'PF DinDisplay Pro';
         font-size: 16px;
         font-weight: 500;
         font-style: normal;
         font-stretch: normal;
         line-height: 1.19;
         letter-spacing: normal;
         text-align: center;
         color: #000000;
         margin: 0 auto 13px;
         max-width: 90%;
    }
    &__position {
         width: 80%;
         font-family: 'PF Din Text Cond Pro';
         font-size: 13px;
         font-weight: normal;
         font-style: italic;
         font-stretch: normal;
         line-height: 1.23;
         letter-spacing: 0.41px;
         text-align: center;
         color: #7b919e;
         margin: 0 auto;
    }
}

.specialist {
    &__inner {
        padding: 31px 73px 50px;
        max-width: 1440px;
        margin: 0 auto;
    }
    &__data {
         display: flex;
         margin-bottom: 50px;
        &_inner {
             width: 35%;
             display: flex;
             flex-direction: column;
             justify-content: center;
             margin-right: 77px;
        }
    }
    &__name {
         font-family: 'PF DinDisplay Pro';
         font-size: 30px;
         font-weight: 500;
         font-style: normal;
         font-stretch: normal;
         line-height: normal;
         letter-spacing: normal;
         color: #000000;
         text-transform: uppercase;
         margin-bottom: 15px;
    }
    &__position {
         font-family: 'PF DinDisplay Pro';
         font-size: 14px;
         font-weight: 300;
         font-style: italic;
         font-stretch: normal;
         line-height: 1.36;
         letter-spacing: 0.5px;
         color: #7b919e;
    }
    &__site {
        margin-top: 31px;
        span {
            display: inline-block;
            padding-right: 38px;
            color: #7b919e;
        }
        a {
            color: #e61841;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
    &__phone {
        span {
            display: inline-block;
            padding-right: 38px;
            color: #7b919e;
        }
     }
    &__photo {
        margin: 0;
    }
    &__info {
         padding-left: 72px;
         width: 75%;
    }
}