<footer class="footer">
    <div class="footer__inner">
        <div class="footer__logo ekzarta">
            <a href=""></a>
            <div class="footer__social">
                <ul>
                    <li><a href="" class="fb"></a></li>
                    <li><a href="" class="vk"></a></li>
                    <li><a href="" class="in"></a></li>
                    <li><a href="" class="yt"></a></li>
                </ul>
            </div>
        </div>
        <div class="footer__logo mamp">
            <a href=""></a>
            <div class="footer__social">
                <ul>
                    <li><a href="" class="fb"></a></li>
                    <li><a href="" class="vk"></a></li>
                    <li><a href="" class="in"></a></li>
                    <li><a href="" class="yt"></a></li>
                </ul>
            </div>
        </div>
        <div class="footer__logo madin">
            <a href=""></a>
            <div class="footer__social">
                <ul>
                    <li><a href="" class="yt"></a></li>
                </ul>
            </div>
        </div>
        <!--<div class="footer__partner-logos">-->
            <!--<a href=""></a>-->
            <!--<a href=""></a>-->
        <!--</div>-->
        <p class="footer__copyright">© ООО "Меден", 2015-2020</p>
        <p>ООО "Меден" <a href="">Лицензия № ЛО-52-01-004759 от 02.04.2015г.</a> выдана Министерством здравоохранения Нижегородской области</p>
        <p><a href="">Написать веб-мастеру</a></p>
    </div>
</footer>

<!-- ########### -->
<!-- CONTENT END -->
<!-- ########### -->
@@include('blocks/modal/index.html')

<script src="/bundles/webpack/vendor.bundle.js"></script>
<script src="/bundles/webpack/desktop.bundle.js"></script>
<!--<script src="/bundles/webpack/scripts.bundle.js"></script>-->

</body>
</html>