@@include('templates/mobile/include/header.html')

<header class="header">
    <div class="header__inner">
        <a href="#" class="header__nav nav-toggle jsNavToggle">
            <span></span><span></span><span></span>
        </a>
        <a href="" class="header__logo"></a>
    </div>
</header>
<nav class="nav-mobile jsMobileNav">
    <div class="nav-mobile__inner">
        <ul>
            <li class="active"><a href="../medcenter/index.html"><span>МЕДЦЕНТР</span></a></li>
            <li><a href="../medcenter/services.html"><span>УСЛУГИ И ЦЕНЫ</span></a></li>
            <li><a href="../medcenter/specialists.html"><span>СПЕЦИАЛИСТЫ</span></a></li>
            <li><a href="../medcenter/promotions.html"><span>НОВОСТИ И АКЦИИ</span></a></li>
            <li><a href="../ekzarta/pages/reviews.html"><span>Отзывы</span></a></li>
            <li><a href="../medcenter/contacts.html"><span>КОНТАКТЫ</span></a></li>
        </ul>
    </div>
</nav>