<section class="landing-header">
    <div class="landing-header__inner">
        <h1 class="landing-header__title">Центр медицинской
            реабилитации
            «Экзарта»</h1>
        <div class="landing-header__contacts">
            <div class="landing-header__phones">
                <p>8 (831) 429-01-15</p>
                <p>8 (831) 230-50-18</p>
            </div>
            <div class="landing-header__opening">
                График работы: Пн-Пт с 8.00 до 20.00<br>
                Сб — по записи, с 8.00 до 14.00<br>
                Вс — выходной день
            </div>
            <div class="landing-header__button">
                <a href="" class="button button_red" data-toggle="modal" data-target=".jsModalAppointment">ЗАПИСАТЬСЯ НА ПРИЁМ</a>
            </div>
        </div>
    </div>
</section>