@font-face {
    font-family: 'PF Din Text Cond Pro XBlack';
    src: url('/fonts/DIN/PFDinTextCondPro-XBlackItalic.eot');
    src: url('/fonts/DIN/PFDinTextCondPro-XBlackItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/DIN/PFDinTextCondPro-XBlackItalic.woff2') format('woff2'),
    url('/fonts/DIN/PFDinTextCondPro-XBlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'PF Din Text Cond Pro';
    src: url('/fonts/DIN/PFDinTextCondPro-Light.eot');
    src: url('/fonts/DIN/PFDinTextCondPro-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/DIN/PFDinTextCondPro-Light.woff2') format('woff2'),
    url('/fonts/DIN/PFDinTextCondPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('/fonts/DIN/PFDinDisplayPro-BoldItalic.eot');
    src: url('/fonts/DIN/PFDinDisplayPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/DIN/PFDinDisplayPro-BoldItalic.woff2') format('woff2'),
    url('/fonts/DIN/PFDinDisplayPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'PF DinDisplay Pro ExtraThin';
    src: url('/fonts/DIN/PFDinDisplayPro-ExtraThin.eot');
    src: url('/fonts/DIN/PFDinDisplayPro-ExtraThin.eot?#iefix') format('embedded-opentype'),
    url('/fonts/DIN/PFDinDisplayPro-ExtraThin.woff2') format('woff2'),
    url('/fonts/DIN/PFDinDisplayPro-ExtraThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'PF Din Text Cond Pro X';
    src: url('/fonts/DIN/PFDinTextCondPro-XThinItalic.eot');
    src: url('/fonts/DIN/PFDinTextCondPro-XThinItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/DIN/PFDinTextCondPro-XThinItalic.woff2') format('woff2'),
    url('/fonts/DIN/PFDinTextCondPro-XThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'PF Din Text Cond Pro';
    src: url('/fonts/DIN/PFDinTextCondPro-Medium.eot');
    src: url('/fonts/DIN/PFDinTextCondPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/DIN/PFDinTextCondPro-Medium.woff2') format('woff2'),
    url('/fonts/DIN/PFDinTextCondPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PF Din Text Cond Pro';
    src: url('/fonts/DIN/PFDinTextCondPro-LightItalic.eot');
    src: url('/fonts/DIN/PFDinTextCondPro-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/DIN/PFDinTextCondPro-LightItalic.woff2') format('woff2'),
    url('/fonts/DIN/PFDinTextCondPro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'PF Din Text Cond Pro';
    src: url('/fonts/DIN/PFDinTextCondPro-Regular.eot');
    src: url('/fonts/DIN/PFDinTextCondPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/DIN/PFDinTextCondPro-Regular.woff2') format('woff2'),
    url('/fonts/DIN/PFDinTextCondPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('/fonts/DIN/PFDinDisplayPro-Regular.eot');
    src: url('/fonts/DIN/PFDinDisplayPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/DIN/PFDinDisplayPro-Regular.woff2') format('woff2'),
    url('/fonts/DIN/PFDinDisplayPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PF Din Text Cond Pro';
    src: url('/fonts/DIN/PFDinTextCondPro-BoldItalic.eot');
    src: url('/fonts/DIN/PFDinTextCondPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/DIN/PFDinTextCondPro-BoldItalic.woff2') format('woff2'),
    url('/fonts/DIN/PFDinTextCondPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('/fonts/DIN/PFDinDisplayPro-Thin.eot');
    src: url('/fonts/DIN/PFDinDisplayPro-Thin.eot?#iefix') format('embedded-opentype'),
    url('/fonts/DIN/PFDinDisplayPro-Thin.woff2') format('woff2'),
    url('/fonts/DIN/PFDinDisplayPro-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('/fonts/DIN/PFDinDisplayPro-Medium.eot');
    src: url('/fonts/DIN/PFDinDisplayPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/DIN/PFDinDisplayPro-Medium.woff2') format('woff2'),
    url('/fonts/DIN/PFDinDisplayPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('/fonts/DIN/PFDinDisplayPro-LightItalic.eot');
    src: url('/fonts/DIN/PFDinDisplayPro-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/DIN/PFDinDisplayPro-LightItalic.woff2') format('woff2'),
    url('/fonts/DIN/PFDinDisplayPro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'PF Din Text Cond Pro';
    src: url('/fonts/DIN/PFDinTextCondPro-Italic.eot');
    src: url('/fonts/DIN/PFDinTextCondPro-Italic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/DIN/PFDinTextCondPro-Italic.woff2') format('woff2'),
    url('/fonts/DIN/PFDinTextCondPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('/fonts/DIN/PFDinDisplayPro-Bold.eot');
    src: url('/fonts/DIN/PFDinDisplayPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/DIN/PFDinDisplayPro-Bold.woff2') format('woff2'),
    url('/fonts/DIN/PFDinDisplayPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PF Din Text Cond Pro XBlack';
    src: url('/fonts/DIN/PFDinTextCondPro-XBlack.eot');
    src: url('/fonts/DIN/PFDinTextCondPro-XBlack.eot?#iefix') format('embedded-opentype'),
    url('/fonts/DIN/PFDinTextCondPro-XBlack.woff2') format('woff2'),
    url('/fonts/DIN/PFDinTextCondPro-XBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('/fonts/DIN/PFDinDisplayPro-BlackItalic.eot');
    src: url('/fonts/DIN/PFDinDisplayPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/DIN/PFDinDisplayPro-BlackItalic.woff2') format('woff2'),
    url('/fonts/DIN/PFDinDisplayPro-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('/fonts/DIN/PFDinDisplayPro-Light.eot');
    src: url('/fonts/DIN/PFDinDisplayPro-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/DIN/PFDinDisplayPro-Light.woff2') format('woff2'),
    url('/fonts/DIN/PFDinDisplayPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PF Din Text Cond Pro X';
    src: url('/fonts/DIN/PFDinTextCondPro-XThin.eot');
    src: url('/fonts/DIN/PFDinTextCondPro-XThin.eot?#iefix') format('embedded-opentype'),
    url('/fonts/DIN/PFDinTextCondPro-XThin.woff2') format('woff2'),
    url('/fonts/DIN/PFDinTextCondPro-XThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'PF Din Text Cond Pro';
    src: url('/fonts/DIN/PFDinTextCondPro-Bold.eot');
    src: url('/fonts/DIN/PFDinTextCondPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/DIN/PFDinTextCondPro-Bold.woff2') format('woff2'),
    url('/fonts/DIN/PFDinTextCondPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PF Din Text Cond Pro';
    src: url('/fonts/DIN/PFDinTextCondPro-MediumItalic.eot');
    src: url('/fonts/DIN/PFDinTextCondPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/DIN/PFDinTextCondPro-MediumItalic.woff2') format('woff2'),
    url('/fonts/DIN/PFDinTextCondPro-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'PF Din Text Cond Pro';
    src: url('/fonts/DIN/PFDinTextCondPro-ThinItalic.eot');
    src: url('/fonts/DIN/PFDinTextCondPro-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/DIN/PFDinTextCondPro-ThinItalic.woff2') format('woff2'),
    url('/fonts/DIN/PFDinTextCondPro-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('/fonts/DIN/PFDinDisplayPro-ThinItalic.eot');
    src: url('/fonts/DIN/PFDinDisplayPro-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/DIN/PFDinDisplayPro-ThinItalic.woff2') format('woff2'),
    url('/fonts/DIN/PFDinDisplayPro-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'PF Din Text Cond Pro';
    src: url('/fonts/DIN/PFDinTextCondPro-Thin.eot');
    src: url('/fonts/DIN/PFDinTextCondPro-Thin.eot?#iefix') format('embedded-opentype'),
    url('/fonts/DIN/PFDinTextCondPro-Thin.woff2') format('woff2'),
    url('/fonts/DIN/PFDinTextCondPro-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('/fonts/DIN/PFDinDisplayPro-MediumItalic.eot');
    src: url('/fonts/DIN/PFDinDisplayPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/DIN/PFDinDisplayPro-MediumItalic.woff2') format('woff2'),
    url('/fonts/DIN/PFDinDisplayPro-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('/fonts/DIN/PFDinDisplayPro-Italic.eot');
    src: url('/fonts/DIN/PFDinDisplayPro-Italic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/DIN/PFDinDisplayPro-Italic.woff2') format('woff2'),
    url('/fonts/DIN/PFDinDisplayPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('/fonts/DIN/PFDinDisplayPro-Black.eot');
    src: url('/fonts/DIN/PFDinDisplayPro-Black.eot?#iefix') format('embedded-opentype'),
    url('/fonts/DIN/PFDinDisplayPro-Black.woff2') format('woff2'),
    url('/fonts/DIN/PFDinDisplayPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinDisplay Pro ExtraThin';
    src: url('/fonts/DIN/PFDinDisplayPro-ExtraThinItalic.eot');
    src: url('/fonts/DIN/PFDinDisplayPro-ExtraThinItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/DIN/PFDinDisplayPro-ExtraThinItalic.woff2') format('woff2'),
    url('/fonts/DIN/PFDinDisplayPro-ExtraThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}