.training {
    margin-bottom: 60px;
    &__inner {
         padding: 0 33px;
         margin: 0 auto;
        p {
            margin-bottom: 39px;
            line-height: 1.27;
            letter-spacing: 0.47px;
            color: #002337;
            padding-left: 10px;
        }
    }
    &__direction {
        position: relative;
        margin-bottom: 20px;
        border-bottom: solid 1px #f8f6f0;
        h2 {
            font-family: 'PF DinDisplay Pro';
            font-size: 18px;
            font-weight: 900;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.28;
            letter-spacing: 0.97px;
            color: #002337;
            text-transform: uppercase;
            padding-left: 10px;
            padding-right: 20px;
            margin-bottom: 20px;
        }
        ol {
            display: none;
            list-style: decimal;
            margin-bottom: 20px;
            li {
                font-family: 'PF Din Text Cond Pro';
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.21;
                letter-spacing: 0.44px;
                color: #002337;
                padding-left: 10px;
                margin-bottom: 10px;
            }
        }
        &:after {
             position: absolute;
             content: '';
             top: 0;
             right: 0;
             width: 12px;
             height: 12px;
             border-right: 1px solid #002337;
             border-bottom: 1px solid #002337;
             transform: rotate(45deg);
             transition: all .3s linear;
        }
        &.show {
            &:after {
                 top: 7px;
                 transform: rotate(225deg);
                 transition: all .3s linear;
            }
        }
    }
}