@@include('templates/mobile/include/header.html')
<style>
    a.button {
        display: inline-block;
        font-size: 12px;
        padding: 15px 10px;
    }
</style>

<div>
    <div style="margin: 20px;">
        <a data-toggle="modal" data-target=".jsModalSuccess" href="" class="button">Успешная подписка на события</a>
    </div>
    <div style="margin: 20px;">
        <a data-toggle="modal" data-target=".jsModalSubscribe" href="" class="button">Подробнее</a>
    </div>
    <div style="margin: 20px;">
        <a data-toggle="modal" data-target=".jsModalEventSubscribe" href="" class="button">Записаться на мероприятие</a>
    </div>
    <div style="margin: 20px;">
        <a data-toggle="modal" data-target=".jsModalEventSubscribeSuccess" href="" class="button">Успешная запись на мероприятие</a>
    </div>
    <div style="margin: 20px;">
        <a data-toggle="modal" data-target=".jsModalAppointment" href="" class="button">Запись на прием</a>
    </div>
    <div style="margin: 20px;">
        <a data-toggle="modal" data-target=".jsModalEnrollment" href="" class="button">Запись на обучение</a>
    </div>
    <div style="margin: 20px;">
        <a data-toggle="modal" data-target=".jsModalAppointmentSuccess" href="" class="button">Успешная запись на прием</a>
    </div>
    <div style="margin: 20px;">
        <a data-toggle="modal" data-target=".jsModalGallery" href="" class="button">Записаться</a>
    </div>
    <div style="margin: 20px;">
        <a data-toggle="modal" data-target=".jsModalOrderModel" href="" class="button">Заказать модель</a>
    </div>

</div>

@@include('templates/mobile/include/footer.html')
