.children {
    &-directions {
        flex-wrap: wrap;
        p {
            width: 100%;
        }
    }
    &-about {
         &__treatment {
            width: 100%;
         }
         &__content {
              column-count: 2;
              column-gap: 45px;
         }
         &__button {
            margin-left: calc(50% + 59.5px);
         }
    }
}