.patient{
    &-header {
         overflow: hidden;
        &__button {
            a {
                text-decoration: none;
                padding: 25px 40px;
            }
        }
        &__image {
             width: 204px;
             margin-left: 143px;
             position: relative;
             bottom: -30px;
        }
    }
    &-content {
        .tabs {
            justify-content: flex-start;
            label {
                margin-left: 74px;
            }
        }
    }
}