.checkout {
    &__inner {
        padding: 0 74px 60px;
        max-width: 1280px;
        margin: 0 auto;
    }
    &__title {
         display: inline-block;
         position: relative;
         font-family: 'PF DinDisplay Pro';
         font-size: 24px;
         font-weight: 900;
         font-style: normal;
         font-stretch: normal;
         line-height: 1.17;
         letter-spacing: 1.3px;
         color: #002337;
         margin-bottom: 38px;
         text-transform: uppercase;
         &:after {
              position: absolute;
              content: '';
              width: 20px;
              height: 20px;
              background: url("/images/desktop/icons/basket-black.svg") 50% 50%/contain no-repeat;
              top: calc(50% - 10px);
              right: -40px;
         }
         &-form {
              margin-bottom: 10px;
              &:after {
                   content: none;
              }
         }
    }
    form {
        display: flex;
        justify-content: space-between;
    }
    &__basket {
        margin-right: 120px;
        flex-grow: 1;
    }
    &__items {}
    &__item {
        justify-content: space-between;
        flex-wrap: wrap;
        display: flex;
        border-bottom: solid 1px #e5e5e5;
        margin-bottom: 32px;
        p {
            margin-bottom: 10px;
        }
        &-name {
             width: 100%;
             font-family: 'PF DinDisplay Pro';
             font-size: 14px;
             font-weight: 300;
             font-style: normal;
             font-stretch: normal;
             line-height: normal;
             letter-spacing: normal;
             color: #000000;
        }
        &-price {
             font-family: 'PF DinDisplay Pro';
             font-size: 16px;
             font-weight: bold;
             font-style: normal;
             font-stretch: normal;
             line-height: 1.19;
             letter-spacing: normal;
             color: #000000;
        }
        &-amount {
            display: flex;
            input {
                width: 31px;
                height: 25px;
                border-radius: 0;
                /*box-shadow: inset 0 1px 2px 0 rgba(0,0,0,.5);*/
            }
            .button {
                &_minus {
                    width: 30px;
                    height: 25px;
                    &:before {
                         width: 10px;
                         left: 10px;
                    }
                }
                &_plus {
                     width: 30px;
                     height: 25px;
                     &:before,
                     &:after {
                          width: 10px;
                          left: 10px;
                     }
                }
            }

        }
        &-total {}
        &-delete {
            position: relative;
            width: 20px;
            height: 20px;
            background-color: #e61841;
            border-radius: 50%;
            &:after {
                 position: absolute;
                 content: '';
                 width: 10px;
                 height: 2px;
                 background-color: #fff;
                 top: calc(50% - 1px);
                 left: calc(50% - 5px);
            }
        }
    }
    &__total {
        text-align: right;
        span {
            opacity: 0.52;
            font-family: 'PF DinDisplay Pro';
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: right;
            color: #000000;
        }
        p {
            font-family: 'PF DinDisplay Pro';
            font-size: 24px;
            font-weight: 900;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.17;
            letter-spacing: 1.3px;
            color: #002337;
        }
    }
    &__form {
        width: 330px;
        flex-grow: 1;
        input[type='text'] {
            width: 100%;
        }
        .input_checkbox {
            label {
                a {
                    font-size: 14px;
                }
            }
        }
    }
    &__button {
        width: 100%;
    }
}