.methodology {
    &__inner {
        padding: 60px 74px 60px;
        max-width: 1440px;
        margin: 0 auto;
    }
    &__header {
        margin-bottom: 40px;
        h1 {
            font-family: 'PF DinDisplay Pro';
            font-size: 40px;
            font-weight: 900;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 2.5px;
            color: #002337;
            margin-bottom: 10px;
            text-transform: uppercase;
        }
        p {
            padding-left: 74px;
        }
    }
    &__body {
        display: flex;
        justify-content: space-between;
    }
    &__info {
        max-width: 750px;
        color: #002337;
        margin-right: 40px;
        h2 {
            font-family: 'PF DinDisplay Pro';
            font-size: 24px;
            font-weight: 900;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.17;
            letter-spacing: 1.3px;
            margin-bottom: 20px;
            text-transform: uppercase;
        }
        h3 {
            font-family: 'PF DinDisplay Pro';
            font-size: 22px;
            font-weight: 700;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.17;
            letter-spacing: 1.3px;
            margin-bottom: 20px;
            text-transform: uppercase;
        }
        h4 {
            font-family: 'PF DinDisplay Pro';
            font-size: 20px;
            font-weight: 700;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.17;
            letter-spacing: 1.3px;
            margin-bottom: 20px;
            text-transform: uppercase;
        }
        h5 {
            font-family: 'PF DinDisplay Pro';
            font-size: 18px;
            font-weight: 700;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.17;
            letter-spacing: 1.3px;
            margin-bottom: 20px;
            text-transform: uppercase;
        }
        h6 {
            font-family: 'PF DinDisplay Pro';
            font-size: 16px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.17;
            letter-spacing: 1.3px;
            margin-bottom: 20px;
            text-transform: uppercase;
        }
        p {
            padding-left: 74px;
        }
        ul {
            padding-left: 94px;
            li {
                list-style: disc;
                margin-bottom: 10px;
                padding-left: 10px;
            }
        }
        ol {
            padding-left: 90px;
            li {
                list-style: decimal;
                margin-bottom: 10px;
                padding-left: 10px;
            }
        }
        img {
            padding: 0 74px;
            width: 100%;
            height: auto;
            margin-bottom: 40px;
        }
        blockquote {
            background-color: #c5f0bd;
            padding: 40px 74px;
            p {
                padding-left: 0;
            }
        }
        hr {
            appearance: none;
            color: #e61841;
            height: 2px;
            background-color: #e61841;
            border:none;
            margin: 20px 0;
        }
    }
    &__video {
         width: 100%;
         height: 404px;
         margin: 0 auto 47px;
    }
    &__files {
        min-width: 100px;
        flex-grow: 1;
        text-align: center;
    }
    &__file {
        display: block;
        position: relative;
        padding-top: 123px;
        margin-bottom: 40px;
        &:before {
            position: absolute;
            content: '';
            width: 84px;
            height: 117px;
            top: 0;
            box-shadow: 0 2px 5px 0 rgba(82, 65, 30, 0.19), 0 5px 18px 0 rgba(174, 148, 113, 0.22);
        }
    }
}