.events {
    &-subscription {
        position: relative;
        overflow: hidden;
        background-color: #f8f6f0;
        /*&:after {*/
             /*position: absolute;*/
             /*content: '';*/
             /*background-image: url("images/desktop/icons/clouds.svg");*/
             /*width: 512px;*/
             /*height: 50.5px;*/
             /*background-repeat: no-repeat;*/
             /*background-size: contain;*/
             /*bottom: -2px;*/
        /*}*/
        &__inner {
            position: relative;
            padding: 40px 20px 60px;
            max-width: 414px;
            margin: 0 auto;
            z-index: 5;
        }
        &__title {
            margin-bottom: 20px;
            p {
                font-family: "PF DinDisplay Pro";
                font-size: 30px;
                font-weight: 900;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 1.88px;
                text-align: center;
                color: #002337;
            }
        }
        &__form {
            form {
                display: flex;
                flex-direction: column;
                align-items: baseline;
                .form-group {width: 100%;}
                input {width: 100%;}
                button {
                    margin-top: 20px;
                    width: 100%;
                }
            }
        }
        &__agree {
            margin-top: 40px;
            a {font-size: 14px;}
        }
    }
    &-current {
        &__inner {margin: 0 auto;}
        &__title {
             font-family: 'PF DinDisplay Pro';
             font-size: 30px;
             font-weight: 900;
             font-stretch: normal;
             font-style: normal;
             line-height: normal;
             letter-spacing: 1.88px;
             text-align: center;
             color: #002337;
        }
        &__slider {
            .swiper-container {
                width: 100%;
                padding-top: 50px;
                padding-bottom: 50px;
            }
            .swiper-slide {
                display: flex;
                flex-direction: column;
                padding: 20px;
                position: relative;
                background-position: center;
                background-size: cover;
                width: 300px;
                height: 300px;
                &:after {
                     position: absolute;
                     content: '';
                     width: 100%;
                     height: 80%;
                     bottom: 0;
                     left: 0;
                     background-color: #ffffff;
                     opacity: 0.8;
                     background: url("images/desktop/icons/clouds-small.svg") 50% 100%/cover no-repeat;
                }
                &-shadow-right {background-image: linear-gradient(to right,rgba(255,255,255,.5),transparent);}
                &-shadow-left {background-image: linear-gradient(to left,rgba(255,255,255,.5),transparent);}
            }
            .swiper-pagination-bullet-active {background: #e61841;}
        }
        &__date {
            position: relative;
            z-index: 5;
            margin-top: auto;
            color: #002337;
        }
        &__name {
            position: relative;
            text-decoration: none;
            color: #002337;
            z-index: 5;
            font-family: 'PF DinDisplay Pro';
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: 0.5px;
        }
    }
    &-past {
        position: relative;
        overflow: hidden;
        &:before {
             position: absolute;
             content: '';
             background-image: url("images/desktop/icons/clouds-beige.svg");
             width: 512px;
             height: 50.5px;
             background-repeat: no-repeat;
             background-size: contain;
             bottom: -2px;
        }
        &__inner {
             padding: 40px 20px 60px;
             max-width: 414px;
             margin: 0 auto;
        }
        &__title {
             font-family: 'PF DinDisplay Pro';
             font-size: 30px;
             font-weight: 900;
             font-stretch: normal;
             font-style: normal;
             line-height: normal;
             letter-spacing: 1.88px;
             text-align: center;
             color: #002337;
             margin-bottom: 27px;
        }
        .event {
            &__desc {
                 font-size: 14px;
                 font-weight: normal;
                 font-stretch: normal;
                 font-style: normal;
                 line-height: 1.29;
                 letter-spacing: 0.34px;
                 color: #002337;
            }
        }
    }
}