.reviews {
    position: relative;
    border-radius: 3px;
    background-color: #f8f6f0;
    max-width: 414px;
    margin: 0 auto;
    &-video {
         margin-bottom: 45px;
         &__video {
              width: 320px;
              height: 180px;
              margin: 0 auto 47px;
              &-item {
                   display: flex;
                   margin-bottom: 38px;
                   p {
                       font-size: 14px;
                       font-weight: normal;
                       font-stretch: normal;
                       font-style: normal;
                       line-height: 1.29;
                       letter-spacing: 0.34px;
                       color: #002337;
                   }
              }
              &-image {
                  position: relative;
                  width: 136px;
                  height: 86px;
                  flex-shrink: 0;
                  border-radius: 6px;
                  margin-right: 23px;
                  cursor: pointer;
                  img {
                      width: 100%;
                      height: auto;
                  }
                  &:before {
                      position: absolute;
                      content: '';
                      width: 100%;
                      height: 100%;
                      border-radius: 6px;
                      background-color: #d8d8d8;
                      transition: all .2s linear;
                  }
                  &:after {
                       position: absolute;
                       content: '';
                       width: 22px;
                       height: 22px;
                       top: calc(50% - 11px);
                       left: calc(50% - 11px);
                       border-radius: 50%;
                       background: url("/images/desktop/icons/play.svg") 50% 50%/contain no-repeat;
                       transition: all .2s linear;
                  }
                  &:hover {
                      &:before {opacity: 0;}
                  }
             }
         }
         &__list {
              max-width: 414px;
              padding: 0 33px;
         }
         &__pdf {
              &-item {
                   position: relative;
                   display: flex;
                   align-items: center;
                   height: 66px;
                   padding-left: 71px;
                   margin-bottom: 33px;
                   font-size: 14px;
                   font-weight: normal;
                   font-stretch: normal;
                   font-style: normal;
                   line-height: 1.43;
                   letter-spacing: 0.61px;
                   color: #e61841;
                   &:before {
                        position: absolute;
                        content: '';
                        width: 48px;
                        height: 66px;
                        left: 0;
                        top: 0;
                        box-shadow: 0 2px 5px 0 rgba(82, 65, 30, 0.19), 0 5px 18px 0 rgba(174, 148, 113, 0.22);
                        background: #ffffff url("/images/desktop/icons/PDF@2x.png") 50% 50%/contain no-repeat;
                   }
              }
         }
         &__videos {}
         &__separator {
              width: 2px;
              margin: 0 35px;
              background: #e8e8e8;
         }
    }
    &__title {
         padding: 30px 33px;
         font-family: 'PF DinDisplay Pro';
         font-size: 30px;
         font-weight: 900;
         font-stretch: normal;
         font-style: normal;
         line-height: normal;
         letter-spacing: 1.88px;
         color: #002337;
         border-bottom: 1px solid #ffffff;
         a {
             max-width: 350px;
             display: flex;
             align-items: center;
             justify-content: center;
             height: 60px;
             border-radius: 3px;
             border: solid 1px #e61841;
             background-color: #ffffff;
             text-decoration: none;
             font-family: 'PF DinDisplay Pro';
             font-weight: bold;
             line-height: normal;
         }
    }
    .tabs {
        padding-top: 0;
        &__caption {padding: 30px 0 8px;}
    }
    &__reviews {}
    &__review {
         padding: 22px 33px 6px;
         border-bottom: 1px solid #ffffff;
    }
    &__header {
        margin-bottom: 15px;
        p {margin: 0;}
    }
    &__author {}
    &__date {
         color: #c0bbaa;
    }
    &__content {
         font-size: 14px;
         font-weight: normal;
         font-stretch: normal;
         font-style: normal;
         line-height: 1.29;
         letter-spacing: 0.34px;
         color: #002337;
    }
    &__form {
         position: absolute;
         width: 100%;
         z-index: 5;
         top: -300px;
         left: 0;
         visibility: hidden;
         opacity: 0;
         transition: all 0.3s linear;
         background-color: #ffffff;
         box-shadow: 0 2px 5px 0 rgba(82, 65, 30, 0.19), 0 5px 18px 0 rgba(174, 148, 113, 0.22);
         padding: 30px 20px;
         &.active {
              visibility: visible;
              top: -30px;
              transition: all 0.3s linear;
              opacity: 1;
         }
         &-title {
              font-family: 'PF DinDisplay Pro';
              font-size: 18px;
              font-weight: 900;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.28;
              letter-spacing: 0.97px;
              color: #002337;
              text-transform: uppercase;
         }
         textarea {
              display: block;
              width: 100%;
         }
         input {width: 100%;}
         .input_checkbox {
              input {width: 0;}
              label {
                   font-size: 14px;
                   color: #002337;
                   a {font-size: 14px;}
              }
         }
         button {
             width: 100%;
         }
         &-close {
              cursor: pointer;
              position: absolute;
              width: 20px;
              height: 20px;
              right: 30px;
              top: 32px;
              &:before {
                  position: absolute;
                  content: '';
                  width: 20px;
                  height: 2px;
                  top: 9px;
                  left: 0;
                  background-color: #e61841;
                  transform: rotate(45deg);
              }
              &:after {
                   position: absolute;
                   content: '';
                   width: 20px;
                   height: 2px;
                   top: 9px;
                   left: 0;
                   background-color: #e61841;
                   transform: rotate(135deg);
              }
         }
    }
}