<footer class="footer">
    <div class="footer__inner">
        <nav class="footer__menu">
            <div class="footer__menu_col">
                <li><a href="">Пациентам</a></li>
                <li><a href="">Специалистам</a></li>
                <li><a href="">Бизнесу</a></li>
            </div>
            <div class="footer__menu_col">
                <li><a href="">Отзывы</a></li>
                <li><a href="">События</a></li>
                <li><a href="">Контакты</a></li>
            </div>
        </nav>
        <div class="footer__info">
            <div class="footer__logo"></div>
            <div class="footer__links">
                <a href="">ГК Мадин</a>
                <a href="">Написать веб-мастеру</a>
            </div>
        </div>
    </div>
</footer>

<!-- ########### -->
<!-- CONTENT END -->
<!-- ########### -->

<!--@@include('blocks/modal/index.html')-->

<script src="/bundles/webpack/vendor.bundle.js"></script>
<script src="/bundles/webpack/desktop.bundle.js"></script>

</body>
</html>
