<footer class="footer">
    <div class="footer__inner">
        <nav class="footer__menu">
            <div class="footer__menu_col">
                <li><a href="../ekzarta/to-patients/frame.html">Пациентам</a></li>
                <li><a href="../ekzarta/to-specialists/frame.html">Специалистам</a></li>
                <li><a href="../ekzarta/to-businessmen/frame.html">Бизнесу</a></li>
            </div>
            <div class="footer__menu_col">
                <li><a href="../ekzarta/pages/reviews.html">Отзывы</a></li>
                <li><a href="../ekzarta/pages/events.html">События</a></li>
                <li><a href="../ekzarta/contacts/contacts.html">Контакты</a></li>
            </div>
        </nav>
        <div class="footer__info">
            <div class="footer__logo"></div>
            <div class="footer__links">
                <a href="">ГК Мадин</a>
                <a href="">Написать веб-мастеру</a>
            </div>
        </div>
    </div>
</footer>

<!-- ########### -->
<!-- CONTENT END -->
<!-- ########### -->

@@include('blocks/modal/index.html')

<script src="/bundles/webpack/vendor.bundle.js"></script>
<script src="/bundles/webpack/desktop.bundle.js"></script>
<script src="/bundles/webpack/scripts.bundle.js"></script>

</body>
</html>
