<footer class="footer">
    <div class="footer__inner">
        <div class="footer__row">
            <nav class="footer__menu">
                <div class="footer__menu_col">
                    <li><a href="../ekzarta/to-patients/frame.html">Пациентам</a></li>
                    <li><a href="../ekzarta/to-specialists/frame.html">Специалистам</a></li>
                    <li><a href="../ekzarta/to-businessmen/frame.html">Бизнесу</a></li>
                </div>
                <div class="footer__menu_col">
                    <li><a href="../ekzarta/pages/reviews.html">Отзывы</a></li>
                    <li><a href="../ekzarta/pages/events.html">События</a></li>
                    <li><a href="../ekzarta/contacts/contacts.html">Контакты</a></li>
                </div>
            </nav>
            <div class="footer__logos">
                <div class="footer__logo ekzarta">
                    <a href=""></a>
                    <div class="footer__social">
                        <ul>
                            <li><a href="" class="fb"></a></li>
                            <li><a href="" class="vk"></a></li>
                            <li><a href="" class="in"></a></li>
                            <li><a href="" class="yt"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer__logo mamp">
                    <a href=""></a>
                    <div class="footer__social">
                        <ul>
                            <li><a href="" class="fb"></a></li>
                            <li><a href="" class="vk"></a></li>
                            <li><a href="" class="in"></a></li>
                            <li><a href="" class="yt"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer__logo madin">
                    <a href=""></a>
                    <div class="footer__social">
                        <ul>
                            <li><a href="" class="yt"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__info">
            <p class="footer__copyright">© ООО "Меден", 2015-2020</p>
            <p>ООО "Меден" <a href="">Лицензия № ЛО-52-01-004759 от 02.04.2015г.</a> выдана Министерством здравоохранения Нижегородской области</p>
            <p><a href="">Написать веб-мастеру</a></p>
        </div>
    </div>
</footer>

<!-- ########### -->
<!-- CONTENT END -->
<!-- ########### -->

@@include('blocks/modal/index.html')

<script src="/bundles/webpack/vendor.bundle.js"></script>
<script src="/bundles/webpack/desktop.bundle.js"></script>
<script src="/bundles/webpack/scripts.bundle.js"></script>

</body>
</html>
