@@include('templates/desktop/include/header-global.html')
<header class="header">
    <div class="header__inner">
        <a href="" class="header__logo"></a>
        <nav class="menu menu_medcenter">
            <li class="menu__item menu__item_medcenter"><a href="../medcenter/index.html">Медцентр</a></li>
            <li class="menu__item menu__item_medcenter"><a href="../medcenter/services.html">Услуги и цены</a></li>
            <li class="menu__item menu__item_medcenter"><a href="../medcenter/specialists.html">Специалисты</a></li>
            <li class="menu__item menu__item_medcenter"><a href="../medcenter/promotions.html">Новости и акции</a></li>
            <li class="menu__item menu__item_medcenter"><a href="../ekzarta/pages/reviews.html">Отзывы</a></li>
            <li class="menu__item menu__item_medcenter menu__item_city">
                <p>Ваш город:</p>
                <a data-toggle="modal" data-target=".jsModalCityConfirm" href="">Нижний Новгород</a></li>
            <li class="menu__item menu__item_medcenter">
                <a href="../medcenter/contacts.html">Контакты</a>
                <!--<div class="menu-contacts">-->
                    <!--<div class="menu-contacts__inner">-->
                        <!--<div class="menu-contacts__header">-->
                            <!--<p>По вопросам лечения-->
                                <!--и работы центра</p>-->
                            <!--<a href="../medcenter/contacts.html">ПОКАЗАТЬ ВСЕ Контакты</a>-->
                        <!--</div>-->
                        <!--<div class="menu-contacts__row">-->
                            <!--<div class="menu-contacts__col">-->
                                <!--<p class="title">Телефоны:</p>-->
                                <!--<p>(831) 429-01-15</p>-->
                                <!--<p>(831) 230-50-18</p>-->
                            <!--</div>-->
                            <!--<div class="menu-contacts__col">-->
                                <!--<a href="" class="button button_red">ЗАКАЗАТЬ ЗВОНОК</a>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="menu-contacts__row">-->
                            <!--<div class="menu-contacts__col">-->
                                <!--<p class="title">Адрес:</p>-->
                                <!--<p>603087, Нижний Новгород,-->
                                        <!--Казанское шоссе, д.18, корпус 1.</p>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="menu-contacts__row">-->
                            <!--<div class="menu-contacts__col">-->
                                <!--<p class="title">График работы:</p>-->
                                <!--<p>Пн-Пт с 8.00 до 20.00<br>-->
                                        <!--Сб — по записи, с 8.00 до 14.00<br>-->
                                        <!--Вс — выходной день.</p>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="menu-contacts__row">-->
                            <!--<div class="menu-contacts__col">-->
                                <!--<a href="">ekzarta@madin.ru</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </li>
        </nav>
    </div>
</header>