@@include('templates/desktop/include/header-global.html')
<header class="header">
    <div class="header__inner">
        <div class="header__logo"></div>
        <nav class="menu menu_medcenter">
            <li class="menu__item menu__item_medcenter"><a href="../medcenter/index.html">Медцентр</a></li>
            <li class="menu__item menu__item_medcenter"><a href="../medcenter/services-frame.html">Услуги и цены</a></li>
            <li class="menu__item menu__item_medcenter"><a href="../medcenter/specialists.html">Специалисты</a></li>
            <li class="menu__item menu__item_medcenter"><a href="../medcenter/promotions.html">Новости и акции</a></li>
            <li class="menu__item menu__item_medcenter"><a href="../medcenter/contacts.html">Контакты</a></li>
        </nav>
    </div>
</header>