@@include('templates/desktop/include/header-global.html')
<header class="header">
    <div class="header__inner">
        <a href="" class="header__logo"></a>
        <nav class="menu">
            <li class="menu__item"><a href="">Пациентам</a></li>
            <li class="menu__item"><a href="">Специалистам</a></li>
            <li class="menu__item"><a href="">Бизнесу</a></li>
            <li class="menu__item menu__item_basket"><a href=""></a></li>
            <li class="menu__item"><a href="">Отзывы</a></li>
            <li class="menu__item"><a href="">События</a></li>
            <li class="menu__item"><a href="">Контакты</a></li>
        </nav>
    </div>
</header>