.services {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 74px;
    margin-bottom: 44px;
    &-table {
        display: none;
        margin-bottom: 60px;
        &.active {
            display: block;
        }
        th {
            height: 38px;
        }
    }
    &-price {
         width: 70%;
         margin-right: 37px;
         table {
             width: 100%;
         }
    }
    &-filter {
         width: 30%;
         height: auto;
         margin-top: 50px;
         border-radius: 3px;
         background-color: #f8f6f0;
         &__inner {}
         ul {
             margin: 0;
             li {
                 position: relative;
                 border: 1px solid #e3ddcd;
                 border-top: none;
                 padding: 9px 20px 9px 40px;
                 cursor: pointer;
                 font-family: 'PF Din Text Cond Pro';
                 font-size: 16px;
                 line-height: 1.13;
                 letter-spacing: 0.47px;
                 color: #002337;
                 &:first-child {
                      border-top: 1px solid #e3ddcd;
                 }
                 &:hover {
                      background-color: #c5f0bd;
                 }
                 &.active {
                      background-color: #c5f0bd;
                      &:before {
                           position: absolute;
                           content: '';
                           width: 26px;
                           height: 26px;
                           left: 8px;
                           top: 4px;
                           background: url("/images/desktop/icons/logo-small.svg") 50% 50%/contain no-repeat;
                      }
                 }
             }
         }
         &__block {
              padding-bottom: 24px;
              .form-group {
                  padding-top: 0;
                  margin-bottom: 5px;
              }
              .input_checkbox {
                 input:checked + label:before {
                     background-color: #c5f0bd;
                     border: solid 1px #002337;
                 }
                  label {
                      padding-left: 33px;
                      font-family: 'PF Din Text Cond Pro';
                      font-size: 16px;
                      line-height: 1.27;
                      letter-spacing: 0.47px;
                      color: #002337;
                      &:before {
                           /*box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.5);*/
                           width: 22px;
                           height: 22px;
                           top: -1px;
                      }
                      &:after {
                           border-right: 2px solid #002337;
                           border-bottom: 2px solid #002337;
                           left: 8px;
                      }
                  }
                  &:not(:first-child) {
                       padding-left: 33px;
                  }
              }
         }
    }
    &-search {
        position: absolute;
        top: 10px;
        right: 74px;
        form {
            position: relative;
            width: 351px;
            input {
                width: 100%;
                height: 37px;
                padding-right: 99px;
                border-radius: 18.5px;
                box-shadow: inset 0 2px 5px 0 #e3ddcd;
                background-color: #f8f6f0;
                outline: none;
                border: none;
                font-style: italic;
                letter-spacing: 0.47px;
            }
            button {
                position: absolute;
                top: 0;
                right: 0px;
                width: 99px;
                height: 37px;
                padding-left: 30px;
                border-radius: 0 18.5px 18.5px 0;
                background-color: #8cde98;
                cursor: pointer;
                font-family: 'PF Din Text Cond Pro';
                font-size: 16px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 0.47px;
                color: #002337;
                &:before {
                    position: absolute;
                    content: '';
                    left: 14px;
                    width: 18px;
                    height: 18px;
                    background: url('/images/desktop/icons/search.svg') 50% 50%/contain no-repeat;
                }
            }
        }
    }
}