.methods {
    margin-bottom: 60px;
    &__inner {
    }
    &__cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 56px;
    }
    &__row {
        display: flex;
        border-bottom: 1px solid rgba(174, 148, 113, 0.15);
        &:last-child {
            border-bottom: none;
        }
    }
    &__card {
        padding: 30px 25px;
        width: 33.33%;
        border-right: 1px solid rgba(174, 148, 113, 0.15);
        min-height: 275px;
        transition: all .2s linear;
        text-decoration: none;
        h2 {
            font-family: 'PF DinDisplay Pro';
            font-size: 18px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.06;
            letter-spacing: 0.5px;
            color: #002337;
        }
        p {
            font-family: 'PF Din Text Cond Pro';
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.27;
            letter-spacing: 0.47px;
            color: #002337;
        }
        &:nth-child(3) {
             border-right: none;
        }
        &:hover {
            transform: scale(1.08);
            border: none;
            border-radius: 3px;
            box-shadow: 0 2px 5px 0 rgba(82, 65, 30, 0.19), 0 5px 18px 0 rgba(174, 148, 113, 0.22);
            background-color: #ffffff;
        }
    }
}