.schedule {
    text-align: center;
    margin-bottom: 60px;
    &-filter {
        margin-bottom: 45px;
        .filter__ekzarta {
            form {
                .form-group {width: 25%;}
            }
        }
    }
    &-table {
         padding: 0 74px;
         table {
            width: 100%;
            max-width: 1440px;
            margin: 0 auto;
            td:first-child,
            td:nth-child(4){
                 color: #e61841;
            }
            td, th {
                text-align: left;
                width: auto;
            }
            th {
                vertical-align: top;
            }
            th:last-child,
            td:last-child {
                text-align: right;
            }
            td:nth-last-child(2),
            th:nth-last-child(2){
                text-align: right;
            }
            td:last-child {
                a {
                    font-size: 0;
                    display: block;
                    width: 16px;
                    height: 16px;
                    background: url("/images/desktop/icons/basket.svg") 50% 50%/contain no-repeat;
                    margin: 0 auto;
                }
            }
            tr {
                &:hover {
                    td {background: rgba(230,24,65,.1);}
                }
            }
         }
    }
}