@@include('templates/mobile/include/header-medcenter.html')
@@include('templates/mobile/include/landing-header.html')

<!--<section class="promotions-banners">-->
    <!--<div class="landing-promotions__slider">-->
        <!--<div class="promotions-slider">-->
            <!--<div class="swiper-container">-->

                <!--<div class="swiper-wrapper">-->
                    <!--<div class="swiper-slide">-->
                        <!--<a href="" class="promotions-slider__slide">-->
                            <!--&lt;!&ndash;<img src="/images/desktop/pic/promotions-example@2x.png" alt="">&ndash;&gt;-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--<div class="swiper-slide">-->
                        <!--<a href="" class="promotions-slider__slide">-->
                            <!--&lt;!&ndash;<img src="/images/desktop/pic/promotions-example@2x.png" alt="">&ndash;&gt;-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--<div class="swiper-slide">-->
                        <!--<a href="" class="promotions-slider__slide">-->
                            <!--&lt;!&ndash;<img src="/images/desktop/pic/promotions-example@2x.png" alt="">&ndash;&gt;-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="swiper-pagination"></div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->

<section class="promotions-events">
    <div class="promotions-events__inner">
        <div class="promotions-events__title">СОБЫТИЯ</div>
        <div class="promotions-events__event event">
            <p class="event__date">08 октября 2018, 14:59</p>
            <a href="" class="event__name">Мастер-класс «Реабилитация при заболеваниях суставов нижних конечностей» в Нижнем Новгороде</a>
            <p class="event__desc">21 февраля 2017 года на базе центра медицинской реабилитации «Экзарта» состоится бесплатный мастер-класс «Реабилитация при заболеваниях суставов нижних конечностей методами мануальной терапии и ЛФК. Реабилитация после операций. </p>
        </div>
        <div class="promotions-events__event event">
            <p class="event__date">08 октября 2018, 14:59</p>
            <a href="" class="event__name">Мастер-класс «Реабилитация при заболеваниях суставов нижних конечностей» в Нижнем Новгороде</a>
            <p class="event__desc">21 февраля 2017 года на базе центра медицинской реабилитации «Экзарта» состоится бесплатный мастер-класс «Реабилитация при заболеваниях суставов нижних конечностей методами мануальной терапии и ЛФК. Реабилитация после операций. </p>
        </div>
        <div class="promotions-events__event event">
            <p class="event__date">08 октября 2018, 14:59</p>
            <a href="" class="event__name">Мастер-класс «Реабилитация при заболеваниях суставов нижних конечностей» в Нижнем Новгороде</a>
            <p class="event__desc">21 февраля 2017 года на базе центра медицинской реабилитации «Экзарта» состоится бесплатный мастер-класс «Реабилитация при заболеваниях суставов нижних конечностей методами мануальной терапии и ЛФК. Реабилитация после операций. </p>
        </div>
    </div>
</section>

<section class="promotions-events promotions-events_past">
    <div class="promotions-events__inner">
        <div class="promotions-events__title">ПРОШЕДШИЕ СОБЫТИЯ</div>
        <div class="promotions-events__event event">
            <p class="event__date">08 октября 2018, 14:59</p>
            <a href="" class="event__name">Мастер-класс «Реабилитация при заболеваниях суставов нижних конечностей» в Нижнем Новгороде</a>
            <p class="event__desc">21 февраля 2017 года на базе центра медицинской реабилитации «Экзарта» состоится бесплатный мастер-класс «Реабилитация при заболеваниях суставов нижних конечностей методами мануальной терапии и ЛФК. Реабилитация после операций. </p>
        </div>
        <div class="promotions-events__event event">
            <p class="event__date">27.01 - 5.02</p>
            <a href="" class="event__name">Образовательный курс по Бобат-терапии в Санкт-Петербургском педиатрическом медицинском университе</a>
            <p class="event__desc">С 27 января по 5 февраля в Санкт-Петербургском государственном педиатрическом медицинском университете пройдет первый образовательный курс по подготовке Бобат-терапевтов.</p>
        </div>
        <div class="promotions-events__event event">
            <p class="event__date">27.01 - 5.02</p>
            <a href="" class="event__name">Образовательный курс по Бобат-терапии в Санкт-Петербургском педиатрическом медицинском университе</a>
            <p class="event__desc">С 27 января по 5 февраля в Санкт-Петербургском государственном педиатрическом медицинском университете пройдет первый образовательный курс по подготовке Бобат-терапевтов.</p>
        </div>
        <div class="promotions-events__event event">
            <p class="event__date">27.01 - 5.02</p>
            <a href="" class="event__name">Образовательный курс по Бобат-терапии в Санкт-Петербургском педиатрическом медицинском университе</a>
            <p class="event__desc">С 27 января по 5 февраля в Санкт-Петербургском государственном педиатрическом медицинском университете пройдет первый образовательный курс по подготовке Бобат-терапевтов.</p>
        </div>
    </div>
</section>
@@include('templates/mobile/include/footer.html')