
<section class="services">

    <div class="services-price jsServicesPrice">
        <section class="services-table active" id="services_inspection">
            <div class="services-table__title">
                <p>ОСМОТР, Консультация</p>
            </div>
            <div class="services-table__service">
                <div class="services-table__service-row name">
                    <p>Прием врача по лечебной физкультуре</p>
                    <p class="services-table__service-appointment"><a href="" data-toggle="modal" data-target=".jsModalAppointment">Записаться</a></p>
                </div>
                <div class="services-table__service-hidden">
                    <div class="services-table__service-row">
                        <p>Длительность, мин.:</p>
                        <p>30-50</p>
                    </div>
                    <div class="services-table__service-row">
                        <p>Стоимость, руб.:</p>
                        <p>1700</p>
                    </div>
                </div>
            </div>
            <div class="services-table__service">
                <div class="services-table__service-row name">
                    <p>Прием врача-невролога первичный</p>
                    <p class="services-table__service-appointment"><a href="" data-toggle="modal" data-target=".jsModalAppointment">Записаться</a></p>
                </div>
                <div class="services-table__service-hidden">
                    <div class="services-table__service-row">
                        <p>Длительность, мин.:</p>
                        <p>30-50</p>
                    </div>
                    <div class="services-table__service-row">
                        <p>Стоимость, руб.:</p>
                        <p>1700</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="services-table" id="services_kinesiotherapy">
            <div class="services-table__title">
                <p>Лечебная физкультура, кинезиотерапия<br><span>с применением методик Бобат, PNF, Экзарта</span></p>
            </div>
            <div class="services-table__service">
                <div class="services-table__service-row name">
                    <p>Индивидуальное занятие ЛФК (с применением вышеперечисленных методик)</p>
                    <p class="services-table__service-appointment"><a href="" data-toggle="modal" data-target=".jsModalAppointment">Записаться</a></p>
                </div>
                <div class="services-table__service-hidden">
                    <div class="services-table__service-row">
                        <p>Длительность, мин.:</p>
                        <p>50</p>
                    </div>
                    <div class="services-table__service-row">
                        <p>Стоимость, руб.:</p>
                        <p>2100</p>
                    </div>
                </div>
            </div>
            <div class="services-table__service">
                <div class="services-table__service-row name">
                    <p>Индивидуальное занятие по методике Войта	</p>
                    <p class="services-table__service-appointment"><a href="" data-toggle="modal" data-target=".jsModalAppointment">Записаться</a></p>
                </div>
                <div class="services-table__service-hidden">
                    <div class="services-table__service-row">
                        <p>Длительность, мин.:</p>
                        <p>30</p>
                    </div>
                    <div class="services-table__service-row">
                        <p>Стоимость, руб.:</p>
                        <p>1500</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="services-table" id="services_taping">
            <div class="services-table__title">
                <p>КИНЕЗИОТЕРАПЕВТИЧЕСКОЕ ТЕЙПИРОВАНИЕ</p>
            </div>
            <div class="services-table__service">
                <div class="services-table__service-row name">
                    <p>Кинезиотерапевтическое тейпирование (нанесение на 1 зону)</p>
                    <p class="services-table__service-appointment"><a href="" data-toggle="modal" data-target=".jsModalAppointment">Записаться</a></p>
                </div>
                <div class="services-table__service-hidden">
                    <div class="services-table__service-row">
                        <p>Длительность, мин.:</p>
                        <p>-</p>
                    </div>
                    <div class="services-table__service-row">
                        <p>Стоимость, руб.:</p>
                        <p>570*</p>
                    </div>
                </div>
            </div>
            <div class="services-table__service">
                <div class="services-table__service-row name">
                    <p>Кинезиотерапевтическое тейпирование (5-10 сеансов)</p>
                    <p class="services-table__service-appointment"><a href="" data-toggle="modal" data-target=".jsModalAppointment">Записаться</a></p>
                </div>
                <div class="services-table__service-hidden">
                    <div class="services-table__service-row">
                        <p>Длительность, мин.:</p>
                        <p>30</p>
                    </div>
                    <div class="services-table__service-row">
                        <p>Стоимость, руб.:</p>
                        <p>600</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="services-table" id="services_massage">
            <div class="services-table__title">
                <p>МАССАЖ</p>
            </div>
            <div class="services-table__service">
                <div class="services-table__service-row name">
                    <p>Медицинский массаж для детей от 0 до 1,5 лет</p>
                    <p class="services-table__service-appointment"><a href="" data-toggle="modal" data-target=".jsModalAppointment">Записаться</a></p>
                </div>
                <div class="services-table__service-hidden">
                    <div class="services-table__service-row">
                        <p>Длительность, мин.:</p>
                        <p>30</p>
                    </div>
                    <div class="services-table__service-row">
                        <p>Стоимость, руб.:</p>
                        <p>1000</p>
                    </div>
                </div>
            </div>
            <div class="services-table__service">
                <div class="services-table__service-row name">
                    <p>Медицинский массаж для детей от 1,5 до 3 лет</p>
                    <p class="services-table__service-appointment"><a href="" data-toggle="modal" data-target=".jsModalAppointment">Записаться</a></p>
                </div>
                <div class="services-table__service-hidden">
                    <div class="services-table__service-row">
                        <p>Длительность, мин.:</p>
                        <p>30</p>
                    </div>
                    <div class="services-table__service-row">
                        <p>Стоимость, руб.:</p>
                        <p>1100</p>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="services-filter">
        <div class="services-filter__inner">
            <div class="services-filter__icon">
                <p>Фильтр</p>
            </div>
            <ul class="jsServicesFilter">
                <li class="active" data-services="services_inspection">Осмотр, консультация</li>
                <li data-services="services_kinesiotherapy">Лечебная физкультура, кинезиотерапия</li>
                <li data-services="services_taping">Кинезиотерапевтическое тейпирование</li>
                <li data-services="services_massage">Массаж</li>
            </ul>
        </div>
    </div>

</section>

<section class="articles">
    <div class="articles__inner">
        <p class="articles__title text-title text-title_big">Статьи</p>
        <div class="articles__cards">
            <a href="" class="articles__card">
                <span>07.03.2018</span>
                <h2>Упражнения для
                    поясничного отдела
                    позвоночника, спины</h2>
                <p>Для правильного и осознанного выполнения упражнений приведем пару строк теории.
                    В организме: поверхностные (двигательные) мышцы расположены с внешней стороны организма, обеспечивают выполнение движений</p>
            </a>
            <a href="" class="articles__card">
                <span>07.03.2018</span>
                <h2>Осанка и причины боли
                    в позвоночнике,
                    пояснице, шее, затылке</h2>
                <p>Физические процессы нашей планеты всегда затрагивают и человека. Сила тяжести воздействует постоянно. В нашем организме ей сопротивляются мышцы – именно они не дают прижать нас к земле, сдавить.</p>
            </a>
            <a href="" class="articles__card">
                <span>07.03.2018</span>
                <h2>Основы проблем
                    с суставами и позвоночником: принципы
                    построения движений</h2>
                <p>Чтобы понять, как правильно и максимально быстро снять боли в районе позвоночника, в суставах, шее и почему возникают боли, нужно понять проходящие в организме процессы.</p>
            </a>
            <a href="" class="articles__card">
                <span>07.03.2018</span>
                <h2>Восстановление объема движений после травм</h2>
                <p>Как правильно провести восстановление амплитуды движений? Приводить к скованности движений может многое, а вот способов полностью восстановить движения после травм, как и после инсульта</p>
            </a>
            <a href="" class="articles__card">
                <span>07.03.2018</span>
                <h2>Корректировка биомеханики движений</h2>
                <p>Как правильно провести восстановление амплитуды движений? Приводить к скованности движений может многое, а вот способов полностью восстановить движения после травм, как и после инсульта</p>
            </a>
            <a href="" class="articles__card">
                <span>07.03.2018</span>
                <h2>Восстановление и укрепление мышц спины и брюшного пресса</h2>
                <p>Как правильно провести восстановление амплитуды движений? Приводить к скованности движений может многое, а вот способов полностью восстановить движения после травм, как и после инсульта</p>
            </a>
            <a href="" class="articles__card">
                <span>07.03.2018</span>
                <h2>Упражнения для
                    поясничного отдела
                    позвоночника, спины</h2>
                <p>Для правильного и осознанного выполнения упражнений приведем пару строк теории.
                    В организме: поверхностные (двигательные) мышцы расположены с внешней стороны организма, обеспечивают выполнение движений</p>
            </a>
            <a href="" class="articles__card">
                <span>07.03.2018</span>
                <h2>Осанка и причины боли
                    в позвоночнике,
                    пояснице, шее, затылке</h2>
                <p>Физические процессы нашей планеты всегда затрагивают и человека. Сила тяжести воздействует постоянно. В нашем организме ей сопротивляются мышцы – именно они не дают прижать нас к земле, сдавить.</p>
            </a>
            <a href="" class="articles__card">
                <span>07.03.2018</span>
                <h2>Основы проблем
                    с суставами и позво-
                    ночником: принципы
                    построения движений</h2>
                <p>Чтобы понять, как правильно и максимально быстро снять боли в районе позвоночника, в суставах, шее и почему возникают боли, нужно понять проходящие в организме процессы.</p>
            </a>
            <a href="" class="articles__card">
                <span>07.03.2018</span>
                <h2>Восстановление объема движений после травм</h2>
                <p>Как правильно провести восстановление амплитуды движений? Приводить к скованности движений может многое, а вот способов полностью восстановить движения после травм, как и после инсульта</p>
            </a>
            <a href="" class="articles__card">
                <span>07.03.2018</span>
                <h2>Корректировка биомеханики движений</h2>
                <p>Как правильно провести восстановление амплитуды движений? Приводить к скованности движений может многое, а вот способов полностью восстановить движения после травм, как и после инсульта</p>
            </a>
            <a href="" class="articles__card">
                <span>07.03.2018</span>
                <h2>Восстановление и укрепление мышц спины и брюшного пресса</h2>
                <p>Как правильно провести восстановление амплитуды движений? Приводить к скованности движений может многое, а вот способов полностью восстановить движения после травм, как и после инсульта</p>
            </a>
            <a href="" class="articles__card">
                <span>07.03.2018</span>
                <h2>Восстановление и укрепление мышц спины и брюшного пресса</h2>
                <p>Как правильно провести восстановление амплитуды движений? Приводить к скованности движений может многое, а вот способов полностью восстановить движения после травм, как и после инсульта</p>
            </a>
        </div>
    </div>
</section>