@@include('templates/desktop/include/header-medcenter.html')

<section class="contacts-header"></section>

<section class="contacts-block">
    <div class="contacts-block__title">
        <p class="text-title text-title_big">По вопросам лечения
            и работы центра</p>
    </div>
    <div class="contacts-block__contacts text-content">
        <div>
            <div class="contacts-block__row">
                <div class="contacts-block__cell contacts-block__phones-number">
                    <p>Телефоны:</p>
                    <p>(831) 429-01-15</p>
                    <p>(831) 230-50-18</p>
                </div>
                <div class="contacts-block__cell contacts-block__phones-button">
                    <a href="" class="button button_red">ЗАКАЗАТЬ ЗВОНОК</a>
                </div>
            </div>
            <p class="contacts-block__email"><a href="">ekzarta@madin.ru</a></p>
        </div>
        <div>
            <div class="contacts-block__row">
                <div class="contacts-block__cell"><p>Адрес:</p></div>
                <div class="contacts-block__cell">
                    <p>603087, Нижний Новгород,
                    Казанское шоссе, д.18, корпус 1.</p>
                </div>
            </div>
            <div class="contacts-block__row">
                <div class="contacts-block__cell"><p>График работы:</p></div>
                <div class="contacts-block__cell">
                    <p>Пн-Пт с 8.00 до 20.00</p>
                    <p>Сб — по записи, с 8.00 до 14.00</p>
                    <p>Вс — выходной день.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contacts-block">
    <div class="contacts-block__title">
        <p class="text-title text-title_big">КАК ДОБРАТЬСЯ
            НА АВТОМОБИЛЕ</p>
    </div>
    <div class="contacts-block__text contacts-block__text_column-2 text-content">
        <p>Из центра: двигайтесь по Казанскому шоссе
            в сторону Афонино. Проезжайте перекресток
            Казанского шоссе с ул. Богдановича (конечная
            остановка автобусов) и через 50 м после светофора
            поверните налево (есть разрыв двойной сплошной),
            далее через 30 м, около надписи на доме 14
            «Оздоровительный комплекс на Казанке»,
            поверните направо и езжайте по дороге
            до 10-этажного дома по адресу:
            Казанское шоссе, д.18, корп.1. Вход с обратной
            стороны (объехать дом слева).</p>
        <p>Со стороны Кстово: проезжаете деревню Афонино, двигайтесь по Казанскому шоссе в сторону центра. После автосалона «Рено» второй поворот направо (не доезжая
            50 м до светофора на перекрестке Казанского шоссе
            с ул.Богдановича).
            Далее через 30 м, около надписи на доме 14 «Оздоровительный комплекс на Казанке», поверните направо и езжайте по дороге до 10-этажного дома по адресу: Казанское шоссе, д.18, корп.1. Вход с обратной стороны (объехать дом слева).
            Большая парковка расположена напротив входа в Центр.</p>
    </div>
</section>

<section class="contacts-block">
    <div class="contacts-block__title">
        <p class="text-title text-title_big">КАК ДОБРАТЬСЯ
            НА АВТОБУСЕ</p>
    </div>
    <div class="contacts-block__text contacts-block__text_column-1 text-content">
        <p>До остановок Академическая или Верхние Печеры
            (около светофора на перекрестке Казанского шоссе
            и ул. Богдановича). Далее пешком около 250 м.</p>
    </div>
    <div class="contacts-block__images">
        <div><img src="/images/desktop/pic/bitmap-1@2x.jpg" alt=""></div>
        <div><img src="/images/desktop/pic/bitmap-2@2x.jpg" alt=""></div>
        <div><img src="/images/desktop/pic/bitmap-3@2x.jpg" alt=""></div>
    </div>
</section>

<section class="contacts-block">
    <div class="contacts-block__title">
        <p class="text-title text-title_big">ПОМОЩЬ ИНОГОРОДНИМ</p>
    </div>
    <div class="contacts-block__text contacts-block__text_column-1 text-content">
        <p>Помогаем иногородним гостям снять жилье в частом секторе в шаговой доступности от Центра
            Поблизости от центра расположены гостиницы:</p>
        <a href="">Гостевой дом "Никульское"</a>
        <a href="">Гостиница "Green Street"</a>
    </div>
</section>

@@include('templates/desktop/include/footer.html')