@@include('templates/desktop/include/header-medcenter.html')
@@include('templates/desktop/include/landing-header.html')

<section class="landing-about">
    <div class="landing-about__inner">
        <p class="landing-about__title">Медцентр</p>
        <a href="" class="landing-about__vacancy">СМОТРЕТЬ ВАКАНСИИ (4)</a>
        <div class="landing-about__desc">
            <p>«Экзарта» — частный центр медицинской реабилитации в Нижнем Новгороде для <span>взрослых</span> и <span>детей</span> с двигательными нарушениями различной природы.</p>
            <p>В центре применяют полный арсенал методов восстановительного лечения, включая современные методики ЛФК и кинезиотерапии (Экзарта, ПНФ, Бобат), тренажеры, в том числе с биологической обратной связью (Баланс-мастер, Имитрон, Альтер-степ, Реатерра), пневмокостюм, магнитную стимуля-цию, миоэлектростимуляцию, электростатический массаж, логопедические занятия.</p>
            <p>«Экзарта» — это не больница, а частная клиника. Мы учитываем особенности болезни каждого пациента, лечим больного, а не болезнь, добиваемся результата в лечении.</p>
            <p>Помогаем восстановиться после травм и заболеваний опорно-двигательного аппарата, травм и заболеваний головного и спинного мозга, в т. ч. инсульта, рассеян-ного склероза, после длительного постельного режи-ма после операции. Лечим болезни позвоночника: сколиоз, грыжи. Снимаем боль в пояснице, шее, суставах. Помогаем спортсменам восстановиться после травм, укрепить мышцы, улучшить биомеханику движений.</p>
            <p><span>В детском отделении</span> проходят реабилитацию дети с нарушениями двигательных функций и патологиями центральной нервной системы (ЦНС), дети с цереб-ральным параличом, начиная с грудного возраста. Также в центре занимаются дети с нарушениями ортопедического профиля, сколиозом.</p>
        </div>
        <p class="landing-about__title">Как мы лечим</p>
        <div class="landing-about__desc">
            <p>В основе лечения – тщательный анализ боли пациента и подбор современных техник реабилитации и восстано-вительного лечения, основанных на принципах функцио-нальной анатомии, биомеханики и нейрофизиологии человека: кинезиотерапия «Экзарта», метод проприоцеп-тивной нейромышечной фасилитации (ПНФ), мягкие техники мануальной терапии, Бобат терапия для взрослых, кинезиотейпирование, лечебную физкультуру и другие.</p>
            <p>Применяем аппаратную физиотерапию: динамическую электростимуляцию, электростатический массаж на аппарате «Элгос», вакуумный массаж, магнитотерапию.</p>
            <p>Занимаемся на современных реабилитационных тренажерах: имитаторе ходьбы – «Имитрон», тренажере «Баланс-Мастер» с биологической обратной связью, стабилотренажере, ходим и поднимаемся по лестнице-брусьям «Альтер Степ».</p>
        </div>
        <div class="landing-about__video"></div>
        <div class="landing-about__rehabilitation">
            <div class="landing-about__block">
                <p class="landing-about__title">Как проходит<br> курс реабилитации</p>
                <img src="/images/desktop/pic/ekzarta-2@2x.png" alt="">
            </div>
            <div class="landing-about__block">
                <ul>
                    <li>
                        <b>1</b>
                        <p>Консультация</p>
                        <span>Визуальная оценка в статике (асимметрия)<br>в динамике (тесты) ДСД — протоколы</span>
                    </li>
                    <li>
                        <b>2</b>
                        <p>Подготовительные занятия</p>
                        <span>Подготовка мягких тканей, подбор физиотерапевтических процедур по показаниям используем мануальные техники: ФТП, Кальтенборн, Малиган</span>
                    </li>
                    <li>
                        <b>3</b>
                        <p>ТЕРАПИЯ</p>
                        <span>Используем нейроразвивающие методики:<br>ПНФ, Войта, Бобат, Экзарта</span>
                    </li>
                    <li>
                        <b>4</b>
                        <p>Результат и рекомендации</p>
                        <span>Техники со специалистом (ручные техники): Экзарта, ПНФ, Бобат, Войта, Кальтенборн, ФТП
                                Физиотерапевтические процедуры: массаж электростатическим полем (аппарат Элгос), общая магнитотерапия (установка Колибри-Эксперт), фанго-парафиновое
                                нагревание, лазер, миостимуляция, микрополяризация, магнитофорез, кинезиотейпирование</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="landing-advantages">
    <div class="landing-advantages__inner">
        <div class="landing-advantages__advantages">
            <div class="landing-advantages__advantage">
                <p>мы используем<br>современные европейские<br>методики восстановления</p>
            </div>
            <div class="landing-advantages__advantage">
                <p>мы устраняем причины боли,<br>
                    а не симптомы</p>
            </div>
            <div class="landing-advantages__advantage">
                <p>можем устранить<br>
                    боль за 1 посещение</p>
            </div>
            <div class="landing-advantages__advantage">
                <p>мы не навязываем<br>
                    лишних услуг
                </p>
            </div>
        </div>
        <div class="landing-advantages__button">
            <a href="" class="button button_red">ЗАПИСАТЬСЯ НА ПРИЁМ</a>
        </div>
    </div>
</section>

<section class="landing-cooperation">
    <div class="landing-cooperation__inner">
        <div class="landing-cooperation__desc">
            <p>ФОНДЫ<br>
                И ПАРТНЁРЫ</p>
            <span>Центр медицинской реабилитации «Экзарта» сотрудничает со многими благотворительными фондами, которые оплачивают лечение детям с детским церебральным параличом и взрослым, после перенесенного инсульта, травм и других заболеваний ЦНС и опорно-двигательного аппарата.</span>
        </div>
        <div class="landing-cooperation__image"></div>
    </div>
</section>

<section class="landing-reviews landing-reviews_medcenter">
    <div class="landing-reviews__inner landing-reviews__inner_medcenter">
        <p class="landing-reviews__title text-title text-title_big">Отзывы</p>
        <a href="" class="landing-reviews__more">Читать все отзывы</a>
        <div class="landing-reviews__slider">

            <!-- Slider main container -->
            <div class="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="landing-reviews__review">
                            <p class="text-content">Sed malesuada vulputate eros, at tristique ligula pellentesque et. Vivamus neque dolor, dignissim a neque ac, convallis iaculis ex. Aenean ornare volutpat neque, sit amet accumsan nulla scelerisque vel. Donec diam eros, ornare id efficitur nec, ullamcorper non ipsum. Donec volutpat laoreet felis ac viverra. Etiam tempor elementum convallis. Sed vulputate urna dolor, vel eleifend sem finibus vel. Ut id turpis eros. Proin aliquet nunc a urna consequat euismod. Integer placerat sagittis libero, ac malesuada urna scelerisque id.</p>
                            <span>– Wesley Young</span>
                            <span>32 года</span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="landing-reviews__review">
                            <p class="text-content">Sed malesuada vulputate eros, at tristique ligula pellentesque et. Vivamus neque dolor, dignissim a neque ac, convallis iaculis ex. Aenean ornare volutpat neque, sit amet accumsan nulla scelerisque vel. Donec diam eros, ornare id efficitur nec, ullamcorper non ipsum. Donec volutpat laoreet felis ac viverra. Etiam tempor elementum convallis. Sed vulputate urna dolor, vel eleifend sem finibus vel. Ut id turpis eros. Proin aliquet nunc a urna consequat euismod. Integer placerat sagittis libero, ac malesuada urna scelerisque id.</p>
                            <span>– Wesley Young</span>
                            <span>32 года</span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="landing-reviews__review">
                            <p class="text-content">Sed malesuada vulputate eros, at tristique ligula pellentesque et. Vivamus neque dolor, dignissim a neque ac, convallis iaculis ex. Aenean ornare volutpat neque, sit amet accumsan nulla scelerisque vel. Donec diam eros, ornare id efficitur nec, ullamcorper non ipsum. Donec volutpat laoreet felis ac viverra. Etiam tempor elementum convallis. Sed vulputate urna dolor, vel eleifend sem finibus vel. Ut id turpis eros. Proin aliquet nunc a urna consequat euismod. Integer placerat sagittis libero, ac malesuada urna scelerisque id.</p>
                            <span>– Wesley Young</span>
                            <span>32 года</span>
                        </div>
                    </div>
                </div>

                <div class="swiper-pagination"></div>

                <!--<div class="swiper-button-prev"></div>-->
                <!--<div class="swiper-button-next"></div>-->
            </div>

        </div>
    </div>
</section>

@@include('templates/desktop/include/footer.html')
