@@include('templates/desktop/include/header-medcenter.html')
@@include('templates/desktop/include/landing-header.html')

<div class="promotions__adaptiv">
    <div class="promotions__adaptiv_block">

        <section class="promotions-banners">
            <div class="promotions-banners__banner">
                <!--<img src="" alt="">-->
            </div>
            <div class="promotions-banners__banner">
                <!--<img src="" alt="">-->
            </div>
        </section>

        <section class="promotions-events">
            <div class="promotions-events__inner">
                <div class="promotions-events__title">СОБЫТИЯ</div>
                <div class="promotions-events__event event">
                    <p class="event__date">08 октября 2018, 14:59</p>
                    <a href="" class="event__name">Мастер-класс «Реабилитация при заболеваниях суставов нижних конечностей» в Нижнем Новгороде</a>
                    <p class="event__desc">21 февраля 2017 года на базе центра медицинской реабилитации «Экзарта» состоится бесплатный мастер-класс «Реабилитация при заболеваниях суставов нижних конечностей методами мануальной терапии и ЛФК. Реабилитация после операций. </p>
                </div>
                <div class="promotions-events__event event">
                    <p class="event__date">08 октября 2018, 14:59</p>
                    <a href="" class="event__name">Мастер-класс «Реабилитация при заболеваниях суставов нижних конечностей» в Нижнем Новгороде</a>
                    <p class="event__desc">21 февраля 2017 года на базе центра медицинской реабилитации «Экзарта» состоится бесплатный мастер-класс «Реабилитация при заболеваниях суставов нижних конечностей методами мануальной терапии и ЛФК. Реабилитация после операций. </p>
                </div>
                <div class="promotions-events__event event">
                    <p class="event__date">08 октября 2018, 14:59</p>
                    <a href="" class="event__name">Мастер-класс «Реабилитация при заболеваниях суставов нижних конечностей» в Нижнем Новгороде</a>
                    <p class="event__desc">21 февраля 2017 года на базе центра медицинской реабилитации «Экзарта» состоится бесплатный мастер-класс «Реабилитация при заболеваниях суставов нижних конечностей методами мануальной терапии и ЛФК. Реабилитация после операций. </p>
                </div>
            </div>
        </section>

    </div>


    <section class="promotions-events promotions-events_past">
        <div class="promotions-events__inner promotions-events__inner_adaptiv">
            <div class="promotions-events__title">ПРОШЕДШИЕ СОБЫТИЯ</div>
            <div class="promotions-events__event event event_adaptiv">
                <p class="event__date">08 октября 2018, 14:59</p>
                <a href="" class="event__name event__name_adaptiv">Мастер-класс «Реабилитация при заболеваниях суставов нижних конечностей» в Нижнем Новгороде</a>
                <p class="event__desc event__desc_adaptiv">21 февраля 2017 года на базе центра медицинской реабилитации «Экзарта» состоится бесплатный мастер-класс «Реабилитация при заболеваниях суставов нижних конечностей методами мануальной терапии и ЛФК. Реабилитация после операций. </p>
            </div>
            <div class="promotions-events__event event event_adaptiv">
                <p class="event__date">27.01 - 5.02</p>
                <a href="" class="event__name event__name_adaptiv">Образовательный курс по Бобат-терапии в Санкт-Петербургском педиатрическом медицинском университе</a>
                <p class="event__desc event__desc_adaptiv">С 27 января по 5 февраля в Санкт-Петербургском государственном педиатрическом медицинском университете пройдет первый образовательный курс по подготовке Бобат-терапевтов.</p>
            </div>
            <div class="promotions-events__event event event_adaptiv">
                <p class="event__date">27.01 - 5.02</p>
                <a href="" class="event__name event__name_adaptiv">Образовательный курс по Бобат-терапии в Санкт-Петербургском педиатрическом медицинском университе</a>
                <p class="event__desc event__desc_adaptiv">С 27 января по 5 февраля в Санкт-Петербургском государственном педиатрическом медицинском университете пройдет первый образовательный курс по подготовке Бобат-терапевтов.</p>
            </div>
            <div class="promotions-events__event event event_adaptiv">
                <p class="event__date">27.01 - 5.02</p>
                <a href="" class="event__name event__name_adaptiv">Образовательный курс по Бобат-терапии в Санкт-Петербургском педиатрическом медицинском университе</a>
                <p class="event__desc event__desc_adaptiv">С 27 января по 5 февраля в Санкт-Петербургском государственном педиатрическом медицинском университете пройдет первый образовательный курс по подготовке Бобат-терапевтов.</p>
            </div>
        </div>
    </section>

</div>
@@include('templates/desktop/include/footer.html')