@@include('templates/desktop/include/header-medcenter.html')
@@include('templates/desktop/include/landing-header.html')

<div class="promotions__adaptiv">
    <!--<div class="promotions__adaptiv_block">-->

        <section class="promotions-banners">
            <section class="landing-promotions">
                <div class="landing-promotions__slider">
                    <div class="promotions-slider">
                        <div class="swiper-container">

                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="" class="promotions-slider__slide">
                                        <img src="/images/desktop/pic/promotions-example@2x.png" alt="">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="" class="promotions-slider__slide">
                                        <img src="/images/desktop/pic/promotions-example@2x.png" alt="">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="" class="promotions-slider__slide">
                                        <img src="/images/desktop/pic/promotions-example@2x.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-button-prev swiper-button-black"></div>
                            <div class="swiper-button-next swiper-button-black"></div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </section>
            <!--<div class="promotions-banners__banner">-->
                <!--&lt;!&ndash;<img src="" alt="">&ndash;&gt;-->
            <!--</div>-->
            <!--<div class="promotions-banners__banner">-->
                <!--&lt;!&ndash;<img src="" alt="">&ndash;&gt;-->
            <!--</div>-->
        </section>

        <section class="promotions-events frame-content">
            <div class="promotions-events__inner">
                <div class="promotions-events__title">СОБЫТИЯ</div>
                <div class="tabs">
                    <ul class="tabs__caption">
                        <li class="active"><a href="#topical">Актуальные</a></li>
                        <li><a href="#past">Прошедшие</a></li>
                    </ul>
                    <div class="tabs__content active">
                        <article class="topical">
                            <div id="4" class="event-card">
                                <div class="event-card__inner">
                                    <div class="event-card__head">
                                        <div class="event-card__controls">
                                            <div class="event-card-button">
                                                <a href="#" class="event-card-button__subscribe"></a>
                                                <div class="event-card-button__share jsEventCardShare">
                                                    <a href="#" class="event-card-button__share-link jsEventCardShareToggle"></a>
                                                    <div class="event-card-button__share-buttons">
                                                        <ul>
                                                            <li><a class="fb" href="#"></a></li>
                                                            <li><a class="vk" href="#"></a></li>
                                                            <li><a class="ok" href="#"></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="event-card-button__label"></div>
                                            </div>
                                        </div>
                                        <div class="event-card__pic" style="background-image: url('/images/desktop/ekzarta@2x.png');"></div>
                                    </div>
                                    <div class="event-card__body">
                                        <a href="#" class="event-card__name" title="Название мероприятия в две строки">Мастер-класс «Реабилитация при заболеваниях суставов нижних конечностей» в Нижнем Новгороде</a>
                                        <div class="event-card__list">
                                            <ul>
                                                <li class="clock">23 Cентября, 18:00-20:00</li>
                                                <li class="marker">Москва, ул. Депутатская 17, офис 516</li>
                                                <li class="free">Бесплатное участие</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="5" class="event-card beauty">
                                <div class="event-card__inner">
                                    <div class="event-card__head">
                                        <div class="event-card__controls">
                                            <div class="event-card-button">
                                                <a href="#" class="event-card-button__subscribe"></a>
                                                <div class="event-card-button__share jsEventCardShare">
                                                    <a href="#" class="event-card-button__share-link jsEventCardShareToggle"></a>
                                                    <div class="event-card-button__share-buttons">
                                                        <ul>
                                                            <li><a class="fb" href="#"></a></li>
                                                            <li><a class="vk" href="#"></a></li>
                                                            <li><a class="ok" href="#"></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="event-card-button__label"></div>
                                            </div>
                                        </div>
                                        <div class="event-card__pic" style="background-image: url('/images/desktop/ekzarta@2x.png');"></div>
                                    </div>
                                    <div class="event-card__body">
                                        <a href="#" class="event-card__name" title="Название мероприятия в две строки">Образовательный курс по Бобат-терапии в Санкт-Петербургском педиатрическом медицинском университе</a>
                                        <div class="event-card__list">
                                            <ul>
                                                <li class="clock">23 Cентября, 18:00-20:00</li>
                                                <li class="marker">Москва, ул. Депутатская 17, офис 516</li>
                                                <li class="free">Бесплатное участие</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="6" class="event-card skincare">
                                <div class="event-card__inner">
                                    <div class="event-card__head">
                                        <div class="event-card__controls">
                                            <div class="event-card-button">
                                                <a href="#" class="event-card-button__subscribe"></a>
                                                <div class="event-card-button__share jsEventCardShare">
                                                    <a href="#" class="event-card-button__share-link jsEventCardShareToggle"></a>
                                                    <div class="event-card-button__share-buttons">
                                                        <ul>
                                                            <li><a class="fb" href="#"></a></li>
                                                            <li><a class="vk" href="#"></a></li>
                                                            <li><a class="ok" href="#"></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="event-card-button__label"></div>
                                            </div>
                                        </div>
                                        <div class="event-card__pic" style="background-image: url('/images/desktop/ekzarta@2x.png');"></div>
                                    </div>
                                    <div class="event-card__body">
                                        <a href="#" class="event-card__name" title="Название мероприятия">Курсы обучения методике кинезиотейпирования</a>
                                        <div class="event-card__list">
                                            <ul>
                                                <li class="clock">23 Cентября, 18:00-20:00</li>
                                                <li class="marker">Москва, ул. Депутатская 17, офис 516</li>
                                                <li class="money">Платное участие</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="3" class="event-card opendays centre">
                                <div class="event-card__inner">
                                    <div class="event-card__head">
                                        <div class="event-card__controls">
                                            <div class="event-card-button">
                                                <a href="#" class="event-card-button__subscribe"></a>
                                                <div class="event-card-button__share jsEventCardShare">
                                                    <a href="#" class="event-card-button__share-link jsEventCardShareToggle"></a>
                                                    <div class="event-card-button__share-buttons">
                                                        <ul>
                                                            <li><a class="fb" href="#"></a></li>
                                                            <li><a class="vk" href="#"></a></li>
                                                            <li><a class="ok" href="#"></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="event-card-button__label"></div>
                                            </div>
                                        </div>
                                        <div class="event-card__pic" style="background-image: url('/images/desktop/ekzarta@2x.png');"></div>
                                    </div>
                                    <div class="event-card__body">
                                        <a href="#" class="event-card__name" title="Название мероприятия">У детей, неспособных к нормальной двигательной активности, есть шанс!</a>
                                        <div class="event-card__list">
                                            <ul>
                                                <li class="clock">23 Cентября, 18:00-20:00</li>
                                                <li class="marker">Москва, ул. Депутатская 17, офис 516</li>
                                                <li class="money">Платное участие</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="tabs__content">
                        <article class="past">
                            <div class="promotions-events__event event">
                                <p class="event__date">08 октября 2018, 14:59</p>
                                <a href="" class="event__name">Мастер-класс «Реабилитация при заболеваниях суставов нижних конечностей» в Нижнем Новгороде</a>
                                <p class="event__desc">21 февраля 2017 года на базе центра медицинской реабилитации «Экзарта» состоится бесплатный мастер-класс «Реабилитация при заболеваниях суставов нижних конечностей методами мануальной терапии и ЛФК. Реабилитация после операций. </p>
                            </div>
                            <div class="promotions-events__event event">
                                <p class="event__date">08 октября 2018, 14:59</p>
                                <a href="" class="event__name">Мастер-класс «Реабилитация при заболеваниях суставов нижних конечностей» в Нижнем Новгороде</a>
                                <p class="event__desc">21 февраля 2017 года на базе центра медицинской реабилитации «Экзарта» состоится бесплатный мастер-класс «Реабилитация при заболеваниях суставов нижних конечностей методами мануальной терапии и ЛФК. Реабилитация после операций. </p>
                            </div>
                            <div class="promotions-events__event event">
                                <p class="event__date">08 октября 2018, 14:59</p>
                                <a href="" class="event__name">Мастер-класс «Реабилитация при заболеваниях суставов нижних конечностей» в Нижнем Новгороде</a>
                                <p class="event__desc">21 февраля 2017 года на базе центра медицинской реабилитации «Экзарта» состоится бесплатный мастер-класс «Реабилитация при заболеваниях суставов нижних конечностей методами мануальной терапии и ЛФК. Реабилитация после операций. </p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>
    <!--</div>-->
    <!--<section class="promotions-events promotions-events_past">-->
        <!--<div class="promotions-events__inner promotions-events__inner_adaptiv">-->
            <!--<div class="promotions-events__title">ПРОШЕДШИЕ СОБЫТИЯ</div>-->
            <!--<div class="promotions-events__event event event_adaptiv">-->
                <!--<p class="event__date">08 октября 2018, 14:59</p>-->
                <!--<a href="" class="event__name event__name_adaptiv">Мастер-класс «Реабилитация при заболеваниях суставов нижних конечностей» в Нижнем Новгороде</a>-->
                <!--<p class="event__desc event__desc_adaptiv">21 февраля 2017 года на базе центра медицинской реабилитации «Экзарта» состоится бесплатный мастер-класс «Реабилитация при заболеваниях суставов нижних конечностей методами мануальной терапии и ЛФК. Реабилитация после операций. </p>-->
            <!--</div>-->
            <!--<div class="promotions-events__event event event_adaptiv">-->
                <!--<p class="event__date">27.01 - 5.02</p>-->
                <!--<a href="" class="event__name event__name_adaptiv">Образовательный курс по Бобат-терапии в Санкт-Петербургском педиатрическом медицинском университе</a>-->
                <!--<p class="event__desc event__desc_adaptiv">С 27 января по 5 февраля в Санкт-Петербургском государственном педиатрическом медицинском университете пройдет первый образовательный курс по подготовке Бобат-терапевтов.</p>-->
            <!--</div>-->
            <!--<div class="promotions-events__event event event_adaptiv">-->
                <!--<p class="event__date">27.01 - 5.02</p>-->
                <!--<a href="" class="event__name event__name_adaptiv">Образовательный курс по Бобат-терапии в Санкт-Петербургском педиатрическом медицинском университе</a>-->
                <!--<p class="event__desc event__desc_adaptiv">С 27 января по 5 февраля в Санкт-Петербургском государственном педиатрическом медицинском университете пройдет первый образовательный курс по подготовке Бобат-терапевтов.</p>-->
            <!--</div>-->
            <!--<div class="promotions-events__event event event_adaptiv">-->
                <!--<p class="event__date">27.01 - 5.02</p>-->
                <!--<a href="" class="event__name event__name_adaptiv">Образовательный курс по Бобат-терапии в Санкт-Петербургском педиатрическом медицинском университе</a>-->
                <!--<p class="event__desc event__desc_adaptiv">С 27 января по 5 февраля в Санкт-Петербургском государственном педиатрическом медицинском университете пройдет первый образовательный курс по подготовке Бобат-терапевтов.</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->

</div>
@@include('templates/desktop/include/footer.html')