
<section class="services">

    <div class="services-price">
        <section class="services-table active" id="services_inspection">
            <div class="table">
                <table>
                    <caption>ОСМОТР, Консультация</caption>
                    <tr>
                        <th>Наименование услуги</th>
                        <th>Длительность,<br>мин.</th>
                        <th>Стоимость,<br>руб.</th>
                    </tr>
                    <tr>
                        <td>Прием врача по лечебной физкультуре</td>
                        <td>30-50</td>
                        <td>1700</td>
                    </tr>
                    <tr>
                        <td>Прием врача-невролога первичный</td>
                        <td>30-50</td>
                        <td>1700</td>
                    </tr>
                    <tr>
                        <td>Прием врача – травматолога-ортопеда первичный</td>
                        <td>30</td>
                        <td>1700</td>
                    </tr>
                    <tr>
                        <td>Приём врача-физиотерапевта</td>
                        <td>30</td>
                        <td>1700</td>
                    </tr>
                    <tr>
                        <td>Прием врача по лечебной физкультуре повторный</td>
                        <td>30</td>
                        <td>1700</td>
                    </tr>
                    <tr>
                        <td>Прием врача-невролога повторный</td>
                        <td>30</td>
                        <td>1700</td>
                    </tr>
                    <tr>
                        <td>Прием врача – травматолога-ортопеда повторный</td>
                        <td>30</td>
                        <td>1700</td>
                    </tr>
                </table>
            </div>
        </section>

        <section class="services-table" id="services_kinesiotherapy">
            <div class="table">
                <table>
                    <caption>Лечебная физкультура, кинезиотерапия<br><span>с применением методик Бобат, PNF, Экзарта</span></caption>
                    <tr>
                        <th>Наименование услуги</th>
                        <th>Длительность,<br>мин.</th>
                        <th>Стоимость,<br>руб.</th>
                    </tr>
                    <tr>
                        <td>Индивидуальное занятие ЛФК (с применением вышеперечисленных методик)</td>
                        <td>50</td>
                        <td>2100</td>
                    </tr>
                    <tr>
                        <td>Индивидуальное занятие по методике Войта</td>
                        <td>30</td>
                        <td>1500</td>
                    </tr>
                    <tr>
                        <td>Гипсование</td>
                        <td></td>
                        <td>3000</td>
                    </tr>
                </table>
            </div>
        </section>

        <section class="services-table" id="services_taping">
            <div class="table">
                <table>
                    <caption>Кинезиотерапевтическое тейпирование</caption>
                    <tr>
                        <th>Наименование услуги</th>
                        <th>Длительность,<br>мин.</th>
                        <th>Стоимость,<br>руб.</th>
                    </tr>
                    <tr>
                        <td>Кинезиотерапевтическое тейпирование (нанесение на 1 зону)</td>
                        <td>-</td>
                        <td>600</td>
                    </tr>
                    <tr>
                        <td>Кинезиотерапевтическое тейпирование (5-10 сеансов)</td>
                        <td>-</td>
                        <td>570*</td>
                    </tr>
                    <tr>
                        <td>Кинезиотерапевтическое тейпирование (10-20 сеансов)</td>
                        <td>-</td>
                        <td>550*</td>
                    </tr>
                    <tr>
                        <td>Кинезиотерапевтическое тейпирование (более 20 сеансов)</td>
                        <td>-</td>
                        <td>1700</td>
                    </tr>
                    <tr>
                        <td>Кинезиотерапевтическое тейпирование с использованием материала пациента</td>
                        <td>-</td>
                        <td>1700</td>
                    </tr>
                </table>
            </div>
        </section>

        <section class="services-table" id="services_massage">
            <div class="table">
                <table>
                    <caption>Массаж</caption>
                    <tr>
                        <th>Наименование услуги</th>
                        <th>Длительность,<br>мин.</th>
                        <th>Стоимость,<br>руб.</th>
                    </tr>
                    <tr>
                        <td>Медицинский массаж для детей от 0 до 1,5 лет</td>
                        <td>30</td>
                        <td>1000</td>
                    </tr>
                    <tr>
                        <td>Медицинский массаж для детей от 1,5 до 3 лет</td>
                        <td>30</td>
                        <td>1100</td>
                    </tr>
                    <tr>
                        <td>Медицинский массаж для детей от 3 до 5 лет</td>
                        <td>40</td>
                        <td>1200</td>
                    </tr>
                    <tr>
                        <td>Медицинский массаж для детей от 5 лет</td>
                        <td>40</td>
                        <td>1300</td>
                    </tr>
                    <tr>
                        <td>Медицинский массаж для детей с элементами ЛФК от 0 до 1,5 лет</td>
                        <td>35</td>
                        <td>1100</td>
                    </tr>
                </table>
            </div>
        </section>
    </div>
    <div class="services-filter">
        <div class="services-filter__inner">
            <ul>
                <li class="active" data-services="services_inspection">Осмотр, консультация</li>
                <li data-services="services_kinesiotherapy">Лечебная физкультура, кинезиотерапия</li>
                <li data-services="services_taping">Кинезиотерапевтическое тейпирование</li>
                <li data-services="services_massage">Массаж</li>
            </ul>
        </div>
    </div>

</section>

<section class="articles">
    <div class="articles__inner">
        <p class="articles__title text-title text-title_big">Статьи</p>
        <div class="articles__cards">
            <div class="articles__row">
                <a href="" class="articles__card">
                    <span>07.03.2018</span>
                    <h2>Упражнения для
                        поясничного отдела
                        позвоночника, спины</h2>
                    <p>Для правильного и осознанного выполнения упражнений приведем пару строк теории.
                        В организме: поверхностные (двигательные) мышцы расположены с внешней стороны организма, обеспечивают выполнение движений</p>
                </a>
                <a href="" class="articles__card">
                    <span>07.03.2018</span>
                    <h2>Осанка и причины боли
                        в позвоночнике,
                        пояснице, шее, затылке</h2>
                    <p>Физические процессы нашей планеты всегда затрагивают и человека. Сила тяжести воздействует постоянно. В нашем организме ей сопротивляются мышцы – именно они не дают прижать нас к земле, сдавить.</p>
                </a>
                <a href="" class="articles__card">
                    <span>07.03.2018</span>
                    <h2>Основы проблем
                        с суставами и позвоночником: принципы
                        построения движений</h2>
                    <p>Чтобы понять, как правильно и максимально быстро снять боли в районе позвоночника, в суставах, шее и почему возникают боли, нужно понять проходящие в организме процессы.</p>
                </a>
            </div>
            <div class="articles__row">
                <a href="" class="articles__card">
                    <span>07.03.2018</span>
                    <h2>Восстановление объема движений после травм</h2>
                    <p>Как правильно провести восстановление амплитуды движений? Приводить к скованности движений может многое, а вот способов полностью восстановить движения после травм, как и после инсульта</p>
                </a>
                <a href="" class="articles__card">
                    <span>07.03.2018</span>
                    <h2>Корректировка биомеханики движений</h2>
                    <p>Как правильно провести восстановление амплитуды движений? Приводить к скованности движений может многое, а вот способов полностью восстановить движения после травм, как и после инсульта</p>
                </a>
                <a href="" class="articles__card">
                    <span>07.03.2018</span>
                    <h2>Восстановление и укрепление мышц спины и брюшного пресса</h2>
                    <p>Как правильно провести восстановление амплитуды движений? Приводить к скованности движений может многое, а вот способов полностью восстановить движения после травм, как и после инсульта</p>
                </a>
            </div>
            <div class="articles__row">
                <a href="" class="articles__card">
                    <span>07.03.2018</span>
                    <h2>Упражнения для
                        поясничного отдела
                        позвоночника, спины</h2>
                    <p>Для правильного и осознанного выполнения упражнений приведем пару строк теории.
                        В организме: поверхностные (двигательные) мышцы расположены с внешней стороны организма, обеспечивают выполнение движений</p>
                </a>
                <a href="" class="articles__card">
                    <span>07.03.2018</span>
                    <h2>Осанка и причины боли
                        в позвоночнике,
                        пояснице, шее, затылке</h2>
                    <p>Физические процессы нашей планеты всегда затрагивают и человека. Сила тяжести воздействует постоянно. В нашем организме ей сопротивляются мышцы – именно они не дают прижать нас к земле, сдавить.</p>
                </a>
                <a href="" class="articles__card">
                    <span>07.03.2018</span>
                    <h2>Основы проблем
                        с суставами и позво-
                        ночником: принципы
                        построения движений</h2>
                    <p>Чтобы понять, как правильно и максимально быстро снять боли в районе позвоночника, в суставах, шее и почему возникают боли, нужно понять проходящие в организме процессы.</p>
                </a>
            </div>
            <div class="articles__row">
                <a href="" class="articles__card">
                    <span>07.03.2018</span>
                    <h2>Восстановление объема движений после травм</h2>
                    <p>Как правильно провести восстановление амплитуды движений? Приводить к скованности движений может многое, а вот способов полностью восстановить движения после травм, как и после инсульта</p>
                </a>
                <a href="" class="articles__card">
                    <span>07.03.2018</span>
                    <h2>Корректировка биомеханики движений</h2>
                    <p>Как правильно провести восстановление амплитуды движений? Приводить к скованности движений может многое, а вот способов полностью восстановить движения после травм, как и после инсульта</p>
                </a>
                <a href="" class="articles__card">
                    <span>07.03.2018</span>
                    <h2>Восстановление и укрепление мышц спины и брюшного пресса</h2>
                    <p>Как правильно провести восстановление амплитуды движений? Приводить к скованности движений может многое, а вот способов полностью восстановить движения после травм, как и после инсульта</p>
                </a>
            </div>
            <div class="articles__row">
                <a href="" class="articles__card">
                    <span>07.03.2018</span>
                    <h2>Восстановление и укрепление мышц спины и брюшного пресса</h2>
                    <p>Как правильно провести восстановление амплитуды движений? Приводить к скованности движений может многое, а вот способов полностью восстановить движения после травм, как и после инсульта</p>
                </a>
            </div>
        </div>
    </div>
</section>