@@include('templates/desktop/include/header-medcenter.html')
@@include('templates/desktop/include/landing-header.html')

<section class="specialists">
    <div class="specialists__inner">
        <div class="specialists__title">СПЕЦИАЛИСТЫ</div>
        <div class="specialists__cards">
            <a href="" class="specialists__card card">
                <div class="card__image">
                    <img src="/images/desktop/specialists/1.jpg" alt="">
                </div>
                <div class="card__name">Фамилия Имя Отчество</div>
                <div class="card__position">Директор Центра медицинской реабилитации «Экзарта», врач-невролог, кинезиотерапевт, мануальный терапевт</div>
            </a>
            <a href="" class="specialists__card card">
                <div class="card__image">
                    <img src="/images/desktop/specialists/1.jpg" alt="">
                </div>
                <div class="card__name">Фамилия Имя Отчество</div>
                <div class="card__position">Директор Центра медицинской реабилитации «Экзарта», врач-невролог, кинезиотерапевт, мануальный терапевт</div>
            </a>
            <a href="" class="specialists__card card">
                <div class="card__image">
                    <img src="/images/desktop/specialists/1.jpg" alt="">
                </div>
                <div class="card__name">Фамилия Имя Отчество</div>
                <div class="card__position">Директор Центра медицинской реабилитации «Экзарта», врач-невролог, кинезиотерапевт, мануальный терапевт</div>
            </a>
            <a href="" class="specialists__card card">
                <div class="card__image">
                    <img src="/images/desktop/specialists/1.jpg" alt="">
                </div>
                <div class="card__name">Фамилия Имя Отчество</div>
                <div class="card__position">Директор Центра медицинской реабилитации «Экзарта», врач-невролог, кинезиотерапевт, мануальный терапевт</div>
            </a>
            <a href="" class="specialists__card card">
                <div class="card__image">
                    <img src="/images/desktop/specialists/1.jpg" alt="">
                </div>
                <div class="card__name">Фамилия Имя Отчество</div>
                <div class="card__position">Директор Центра медицинской реабилитации «Экзарта», врач-невролог, кинезиотерапевт, мануальный терапевт</div>
            </a>
            <a href="" class="specialists__card card">
                <div class="card__image">
                    <img src="/images/desktop/specialists/1.jpg" alt="">
                </div>
                <div class="card__name">Фамилия Имя Отчество</div>
                <div class="card__position">Директор Центра медицинской реабилитации «Экзарта», врач-невролог, кинезиотерапевт, мануальный терапевт</div>
            </a>
            <a href="" class="specialists__card card">
                <div class="card__image">
                    <img src="/images/desktop/specialists/1.jpg" alt="">
                </div>
                <div class="card__name">Фамилия Имя Отчество</div>
                <div class="card__position">Директор Центра медицинской реабилитации «Экзарта», врач-невролог, кинезиотерапевт, мануальный терапевт</div>
            </a>
            <a href="" class="specialists__card card">
                <div class="card__image">
                    <img src="/images/desktop/specialists/1.jpg" alt="">
                </div>
                <div class="card__name">Фамилия Имя Отчество</div>
                <div class="card__position">Директор Центра медицинской реабилитации «Экзарта», врач-невролог, кинезиотерапевт, мануальный терапевт</div>
            </a>
            <a href="" class="specialists__card card">
                <div class="card__image">
                    <img src="/images/desktop/specialists/1.jpg" alt="">
                </div>
                <div class="card__name">Фамилия Имя Отчество</div>
                <div class="card__position">Директор Центра медицинской реабилитации «Экзарта», врач-невролог, кинезиотерапевт, мануальный терапевт</div>
            </a>
            <a href="" class="specialists__card card">
                <div class="card__image">
                    <img src="/images/desktop/specialists/1.jpg" alt="">
                </div>
                <div class="card__name">Фамилия Имя Отчество</div>
                <div class="card__position">Директор Центра медицинской реабилитации «Экзарта», врач-невролог, кинезиотерапевт, мануальный терапевт</div>
            </a>
            <a href="" class="specialists__card card">
                <div class="card__image">
                    <img src="/images/desktop/specialists/1.jpg" alt="">
                </div>
                <div class="card__name">Фамилия Имя Отчество</div>
                <div class="card__position">Директор Центра медицинской реабилитации «Экзарта», врач-невролог, кинезиотерапевт, мануальный терапевт</div>
            </a>
            <a href="" class="specialists__card card">
                <div class="card__image">
                    <img src="/images/desktop/specialists/1.jpg" alt="">
                </div>
                <div class="card__name">Фамилия Имя Отчество</div>
                <div class="card__position">Директор Центра медицинской реабилитации «Экзарта», врач-невролог, кинезиотерапевт, мануальный терапевт</div>
            </a>
        </div>
    </div>
</section>

@@include('templates/desktop/include/footer.html')