@@include('templates/desktop/include/header-medcenter.html')

<section class="breadcrumbs">
    <div class="breadcrumbs__inner">
        <a href="#">Экзарта</a>
        <a href="#">Преподаватели</a>
        <a class="active" href="#">Бурмистров Андрей Львович</a>
    </div>
</section>

<section class="specialist">
    <div class="specialist__inner">
        <div class="specialist__data">
            <div class="specialist__data_inner">
                <div class="specialist__name text-title text-title_big">Бурмистров Андрей Львович</div>
                <div class="specialist__position">Директор Центра медицинской реабилитации «Экзарта»,
                    врач-невролог, кинезиотерапевт, мануальный терапевт</div>
            </div>
            <div class="specialist__photo card__image">
                <img src="/images/desktop/specialists/1.jpg" alt="">
            </div>
            <!--Эти кнопку выводить только если это страница врача.-->
            <div class="specialist__buttons">
                <a href="" class="button button_red specialist__button" data-toggle="modal" data-target=".jsModalAppointment">Записаться</a>
                <a href="" class="button specialist__button" data-toggle="modal" data-target=".jsModalAppointment">Оставить отзыв</a>
            </div>
        </div>
        <div class="specialist__info text-content">
            <p>В 1997 году окончил Нижегородскую Государственную медицинскую академию по специальности «лечебное дело».</p>

            <p>В 1998 году окончил клиническую интернатуру по неврологии.</p>

            <p>Прошел обучение следующим методикам: Neurac (нейромышечная активация), Экзарта, PNF, мягкие техники мануальной терапии, кинезиотейпинг.</p>

            <p>С 2011 года - преподаватель методики «Экзарта».</p>

            <p>В 2015 г. прошел первичную специализацию по мануальной терапии.</p>

            <p>Участник конференций по медицинской реабилитации и спортивной медицине, соавтор методических рекомендаций по методике «Экзарта», научный редактор первого издания на русском языке книг «Бобат-концепция. Теория и клиническая практика в неврологической реабилитации» и «Принцип Войты. Игра мышц при рефлекторном поступательном движении и в двигательном онтогенезе», литературный редактор первого издания монографии «Нарушения постурального баланса при церебральном инсульте».</p>
        </div>

        <section class="landing-reviews landing-reviews_medcenter">
            <div class="landing-reviews__inner landing-reviews__inner_medcenter">
                <p class="landing-reviews__title text-title text-title_big">Отзывы</p>
                <a href="" class="landing-reviews__more">Читать все отзывы</a>
                <div class="landing-reviews__slider">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="landing-reviews__review">
                                    <p class="text-content">Sed malesuada vulputate eros, at tristique ligula pellentesque et. Vivamus neque dolor, dignissim a neque ac, convallis iaculis ex. Aenean ornare volutpat neque, sit amet accumsan nulla scelerisque vel. Donec diam eros, ornare id efficitur nec, ullamcorper non ipsum. Donec volutpat laoreet felis ac viverra. Etiam tempor elementum convallis. Sed vulputate urna dolor, vel eleifend sem finibus vel. Ut id turpis eros. Proin aliquet nunc a urna consequat euismod. Integer placerat sagittis libero, ac malesuada urna scelerisque id.</p>
                                    <span>– Wesley Young</span>
                                    <span>32 года</span>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="landing-reviews__review">
                                    <p class="text-content">Sed malesuada vulputate eros, at tristique ligula pellentesque et. Vivamus neque dolor, dignissim a neque ac, convallis iaculis ex. Aenean ornare volutpat neque, sit amet accumsan nulla scelerisque vel. Donec diam eros, ornare id efficitur nec, ullamcorper non ipsum. Donec volutpat laoreet felis ac viverra. Etiam tempor elementum convallis. Sed vulputate urna dolor, vel eleifend sem finibus vel. Ut id turpis eros. Proin aliquet nunc a urna consequat euismod. Integer placerat sagittis libero, ac malesuada urna scelerisque id.</p>
                                    <span>– Wesley Young</span>
                                    <span>32 года</span>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="landing-reviews__review">
                                    <p class="text-content">Sed malesuada vulputate eros, at tristique ligula pellentesque et. Vivamus neque dolor, dignissim a neque ac, convallis iaculis ex. Aenean ornare volutpat neque, sit amet accumsan nulla scelerisque vel. Donec diam eros, ornare id efficitur nec, ullamcorper non ipsum. Donec volutpat laoreet felis ac viverra. Etiam tempor elementum convallis. Sed vulputate urna dolor, vel eleifend sem finibus vel. Ut id turpis eros. Proin aliquet nunc a urna consequat euismod. Integer placerat sagittis libero, ac malesuada urna scelerisque id.</p>
                                    <span>– Wesley Young</span>
                                    <span>32 года</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </section>

        <div class="specialist__certificates">
            <div class="specialist__certificates__inner">
                <div class="specialist__certificates__title text-title text-title_big">Сертификаты</div>
                <div class="specialist__certificates__slider">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img src="/images/desktop/pic/certificates@2x.png" alt=""></div>
                            <div class="swiper-slide"><img src="/images/desktop/pic/certificates@2x.png" alt=""></div>
                            <div class="swiper-slide"><img src="/images/desktop/pic/vzros_dzhonston.jpg" alt=""></div>
                            <div class="swiper-slide"><img src="/images/desktop/pic/certificates@2x.png" alt=""></div>
                            <div class="swiper-slide"><img src="/images/desktop/pic/certificates@2x.png" alt=""></div>
                            <div class="swiper-slide"><img src="/images/desktop/pic/vzros_dzhonston.jpg" alt=""></div>
                        </div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
    </div>
    <!--Следующий блок выводить только если это страница преподавателя. Выводить ближайшие курсы этого преподавателя-->
    <div class="specialist__announcement">
        <div class="specialist__announcement__inner">
            <p class="text-title text-title_big">Ближайшие курсы</p>
            <section class="schedule-table">
            <div class="table">
                <table>
                    <tr>
                        <th>Наименование курса</th>
                        <th>Начало</th>
                        <th>Окончание</th>
                        <th>Преподаватель</th>
                        <th>Город</th>
                        <th>Стоимость,<br>руб.</th>
                        <th>Записаться</th>
                    </tr>
                    <tr>
                        <td><a href="">ПНФ Модуль 1</a></td>
                        <td>13.07.2019</td>
                        <td>17.07.2019</td>
                        <td><a href="../../medcenter/specialist-page.html" class="course-teacher pl">Кокош М.</a></td>
                        <td>Москва</td>
                        <td>36 000</td>
                        <td><a href="" data-toggle="modal" data-target=".jsModalEnrollment">Записаться</a></td>
                    </tr>
                    <tr>
                        <td><a href="">Мануальная терапия Кальтенборна-Эвента, 3 модуль</a></td>
                        <td>13.07.2019</td>
                        <td>17.07.2019</td>
                        <td><a href="" class="course-teacher pl">Кокош М.</a></td>
                        <td>Москва</td>
                        <td>36 000</td>
                        <td><a href="" data-toggle="modal" data-target=".jsModalEnrollment">Записаться</a></td>
                    </tr>
                    <tr>
                        <td><a href="">Войта-терапия 1 ступень</a></td>
                        <td>13.07.2019</td>
                        <td>17.07.2019</td>
                        <td><a href="" class="course-teacher pl">Кокош М.</a></td>
                        <td>Москва</td>
                        <td>36 000</td>
                        <td><a href="" data-toggle="modal" data-target=".jsModalEnrollment">Записаться</a></td>
                    </tr>
                </table>
            </div>
        </section>
        </div>
    </div>
</section>

@@include('templates/desktop/include/footer.html')