@@include('templates/desktop/include/header-medcenter.html')

<section class="breadcrumbs">
    <a href="#">Экзарта</a>
    <a href="#">Преподаватели</a>
    <a class="active" href="#">Бурмистров Андрей Львович</a>
</section>

<section class="specialist">
    <div class="specialist__inner">
        <div class="specialist__data">
            <div class="specialist__data_inner">
                <div class="specialist__name">Бурмистров Андрей Львович</div>
                <div class="specialist__position">Директор Центра медицинской реабилитации «Экзарта»,
                    врач-невролог, кинезиотерапевт, мануальный терапевт</div>
            </div>
            <div class="specialist__photo card__image">
                <img src="/images/desktop/specialists/1.jpg" alt="">
            </div>
        </div>
        <div class="specialist__info text-content">
            <p>В 1997 году окончил Нижегородскую Государственную медицинскую академию по специальности «лечебное дело».</p>

            <p>В 1998 году окончил клиническую интернатуру по неврологии.</p>

            <p>Прошел обучение следующим методикам: Neurac (нейромышечная активация), Экзарта, PNF, мягкие техники мануальной терапии, кинезиотейпинг.</p>

            <p>С 2011 года - преподаватель методики «Экзарта».</p>

            <p>В 2015 г. прошел первичную специализацию по мануальной терапии.</p>

            <p>Участник конференций по медицинской реабилитации и спортивной медицине, соавтор методических рекомендаций по методике «Экзарта», научный редактор первого издания на русском языке книг «Бобат-концепция. Теория и клиническая практика в неврологической реабилитации» и «Принцип Войты. Игра мышц при рефлекторном поступательном движении и в двигательном онтогенезе», литературный редактор первого издания монографии «Нарушения постурального баланса при церебральном инсульте».</p>
        </div>
    </div>
</section>

@@include('templates/desktop/include/footer.html')