.landing-advantages {
    position: relative;
    background-color: #f8f6f0;
    &__inner {padding: 26px 0 0;}
    &__advantages {margin-bottom: 43px;}
    &__advantage {
         position: relative;
         font-family: 'PF Din Text Cond Pro';
         font-size: 16px;
         font-weight: normal;
         font-style: normal;
         font-stretch: normal;
         line-height: 1.27;
         letter-spacing: 0.47px;
         text-align: center;
         padding-top: 90px;
         margin-bottom: 30px;
         color: #002337;
         &:before {
              position: absolute;
              content: '';
              top: 0;
              left: calc(50% - 42.5px);
         }
         &:nth-child(1):before {@mixin io icons/group-12, svg;}
         &:nth-child(2):before {@mixin io icons/group-13, svg;}
         &:nth-child(3):before {@mixin io icons/group-14, svg;}
         &:nth-child(4):before {
            @mixin io icons/group-15, svg;
            left: calc(50% - 47px);
         }
    }
    &__button {
        position: relative;
        bottom: -10px;
        margin: 0 auto;
        text-align: center;
        a {text-decoration: none;}
    }
}