.contacts {
    &-header {
        overflow: hidden;
        #map {
            position: relative;
            width: 100%;
            height: 317px;
            margin-bottom: 31px;
            &:after {
                 position: absolute;
                 content: '';
                 background-image: url("images/desktop/icons/clouds.svg");
                 width: 512px;
                 height: 50.5px;
                 background-repeat: no-repeat;
                 background-size: contain;
                 bottom: -2px;
            }
        }
    }
    &-block {
        margin-bottom: 40px;
        &__inner {
             padding: 0 33px;
             max-width: 414px;
             margin: 0 auto;
        }
        &__row {
            display: table-row;
            font-size: 14px;
        }
        &__cell {
            display: table-cell;
            p {
                margin-bottom: 0;
                padding-right: 10px;
            }
        }
        &__phones {
            &-number {
                padding: 0 35px 15px 0;
                white-space: nowrap;
            }
            &-button {
                 vertical-align: middle;
                a {
                    padding: 12px 15px;
                    text-decoration: none;
                    font-size: 10px;
                    letter-spacing: 0.28px;
                }
            }
        }
        &__text {
            b {font-weight: 500;}
            a {
                display: block;
                &.text-link {display: inline;}
            }
        }
        &__images {
            margin: 0 -33px 60px;
        }
    }
}

.images {
    &-slider {
        height: 200px;
        padding: 0 10px;
        .swiper-container {
            width: 100%;
            height: 100%;
        }
        .swiper-slide {width: 267px;}
        .swiper-pagination {
            margin-top: 10px;
            position: relative;
            .swiper-pagination-bullet {margin: 0 5px;}
            .swiper-pagination-bullet-active {background: #e61841;}
        }
        &__slide {
             display: block;
             width: 100%;
             height: 100%;
             border-radius: 3px;
             img {
                 width: 100%;
                 height: auto;
             }
        }
    }
}