.promotions {
    &-banners {margin-bottom: 65px;}
    &-events {
        margin-top: 30px;
        &__inner {
            width: 100%;
            max-width: 414px;
            padding: 0 33px;
            margin: 0 auto;
        }
        &__title {
             font-family: 'PF DinDisplay Pro';
             font-size: 30px;
             font-weight: 900;
             font-stretch: normal;
             font-style: normal;
             line-height: normal;
             letter-spacing: 1.88px;
             color: #002337;
             margin-bottom: 36px;
        }
        &_past {
             background-color: #f8f6f0;
             padding-top: 35px;
             margin-top: 0;
             padding-bottom: 40px;
        }
    }
}

.event {
    font-family: 'PF Din Text Cond Pro';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27;
    letter-spacing: 0.47px;
    margin-bottom: 36px;
    &__date {
         color: #7b919e;
         margin-bottom: 12px;
    }
    &__name {
         display: block;
         font-family: 'PF DinDisplay Pro';
         font-size: 18px;
         font-weight: bold;
         font-style: normal;
         font-stretch: normal;
         line-height: 1.06;
         letter-spacing: 0.5px;
         color: #002337;
         margin-bottom: 12px;
         transition: all .1s linear;
         text-decoration: none;
         &:hover {color: #e61841;}
    }
    &__desc {color: #002337;}
}